<div class="everyThing">
  <div class="container">
<form class="example-form" #addCategoryForm="ngForm">
  <div class="form-group">
    <br>
    <label class="" > <div class="bold-text"><a class="text">Názov kategórie:</a></div></label>
    <br>
    <br>
    <input
      type="text" [(ngModel)]="category.name"
      id="name"
      name="name"
      class="form-control"
      required #name="ngModel">
    <br>
    <div class="">
      <input class="upload" type="file" (change)="onImageUpload({event : $event})">
    </div>
    <br>
    <img [src]="this.liveDemo" />

    <br>
    <br>
    <div class="">
      <button   (click)="createCategory()"
                type="submit"
                class="btn btn-info">Vytvoriť Inzerát
      </button>
      <br>
    </div>
  </div>
</form>
</div>
</div>



