.container
{
    margin-top: 5%;
}

.container.fft{
    position: absolute !important;
    bottom: 0 !important;
}

img{
      float: center;
      width:  115px;
      height: 115px;
      object-fit: cover;
      border: 0px;
      border-radius: 3px;
  }
