<h1>Moje inzeráty</h1>
<div class = "grid-container">
  <div class="grid-item" *ngFor="let product of allProducts; let i = index"  >
    <button  class="small_btn"  mat-button routerLink="/detail/{{product.id}}"  >
      {{product.name}}<br>
      <div class="picture" *ngIf=dbImageF>
        <img [src]="dbImageF[i]" >
      </div>
      {{product.countClicksOnProduct}}
    </button>
    <button *ngIf="isSomeoneLogIn" class="delete-btn" mat-raised-button color="accent" (click)="deleteProduct(product.id)">Vymazať inzerat</button>
    <button *ngIf="isSomeoneLogIn" class="edit-btn" mat-raised-button color="primary"  (click)="editProduct(product.id)" >Upraviť produkt</button>
<!--    <button *ngIf="isSomeoneLogIn" class="edit-btn" mat-raised-button color="primary"  (click)="editProduct(product.id); openModal('custom-modal-2');" >Upraviť produkt</button>-->
<!--    <button  (click)="findme(product.id); openModal('custom-modal-5')">Upraviť inzerát</button>-->

  </div>

</div>



<div *ngIf="luckyBool">
<jw-modal id="custom-modal-1"  >

  <div class="container">
    <form class="example-form"  >
      <h1>Upraviť inzerát</h1>
      <div class="form-group">
        <label class="control-label col-sm-2" > <div class="bold-text"> Názov:</div></label>
        <div class="col-sm-10">
          <input
            type="text" [(ngModel)]="allProducts1.name"
            id="name"
            name="name"
            class="form-control"
            required #name="ngModel">

        </div>



        <label class="control-label col-sm-2" > <div class="bold-text"> Opis:</div></label>
        <div class="col-sm-10">
        <textarea type="text" [(ngModel)]="allProducts1.description"
                  id="description"
                  name="description"
                  class="form-control"
                  required #description="ngModel"></textarea>


        </div>


        <label class="control-label col-sm-2" > <div class="bold-text"> Cena:</div></label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="allProducts1.price"
                 id="price"
                 name="price"
                 class="form-control"
                 required #price="ngModel">

        </div>

        <label class="control-label col-sm-2" > <div class="bold-text"> Lokalizácia:</div></label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="allProducts1.localization"
                 id="localization"
                 name="localization"
                 class="form-control"
                 required #localization="ngModel">

        </div>

        <mat-label class="control-label col-sm-2">Vyber kategóriu:</mat-label>
        <div class="col-sm-10">
          <mat-form-field appearance="fill">
            <mat-select [(value)]="selectedCategory" [(ngModel)]="allProducts1.category" name="category" id="category" (selectionChange)="chooseCategory()" required>
              <mat-option value='Pets'>Domáce Zvieratá</mat-option>
              <mat-option value='Electronic'>Elektronika</mat-option>
              <mat-option value='Toys'>Hračky</mat-option>
              <mat-option value='Furniture'>Nábytok</mat-option>
              <mat-option value='House'>Nehnuteľnosti</mat-option>
              <mat-option value='Clothes'>Oblečenie</mat-option>
              <mat-option value='HomeElectronics'>Spotrebiče</mat-option>
              <mat-option value='Sport'>Šport</mat-option>
              <mat-option value='Vehicles'>Vozidlo</mat-option>
              <mat-option value='Garden'>Záhrada</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <label class="control-label col-sm-2" > <div class="bold-text"> </div></label>
        <div class="col-sm-10">
          <input type="file" (change)="onImageUpload({event : $event})">
        </div>


        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" (click)="editUser(); createAction()"  class="btn btn-danger">Uložiť zmeny</button>
        </div>

        <div *ngIf="check" class="alert alert-success">
          <strong>Super!</strong> Úspešne ste zmenili svoj produkt.
        </div>


      </div>
      </form>
  </div>
  <img src="../../assets/return.png" (click)="closeModal('custom-modal-1');" height="40">
      </jw-modal>
     </div>






