img{
    float: center;
      width:  100px;
      height: 100px;
      object-fit: cover;
      border-radius: 7px;
  
  }

  .container {
    margin-top: 5%;
  }

  h1{
    text-align: center;
    color: #0dcaf0;
    position: relative;
    z-index: 1;
    font-weight: bold;
  }

  .cardic {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 15px;
    border: 0;
    padding: 15px;
  }