mat-toolbar {
  background: linear-gradient(180deg, #c20505 0%, #e1c224 100%);
  color: white;
  height: 8%;


}

mat-sidenav {
  margin: 1%; /*okrajova vzdialenosť*/
  width: 10%;/*šírka*/
  border-right: none;/*okraj*/
  background: #c20505;/*farba*/
  color: white;
  border-radius: 10px; /*zaoblenie*/

  text-align: center;
}

mat-sidenav-container {
  height: 92%;
  background: linear-gradient(180deg, #c20505 0%, #e1c224 100%);

}

a.card-title{
  color: white;
  text-decoration: none;






}

/*!*.content {*!*/
/*!*  height: calc(100vh - 98px);*!*/
/*!*  border-radius: 10px;*!*/
/*!*  margin: 16px;*!*/
/*!*  margin-left: 32px;*!*/

/*!*  display: flex;*!*/
/*!*  justify-content: center;*!*/
/*!*  align-items: center;*!*/

/*!*  font-size: 2rem;*!*/
/*!*  color: lightgray;*!*/

/*!*}*!*/



.btn-info {
  background-color: black;
  border-color: black;
}

.btn-info:hover {
  border-color: #ff4a00;
}

.btn {
  margin-bottom: 15%;
}

.card-title {
  color: #002b5c;
  text-align: center;
  margin-top: 10px;
}

span{
  margin-left: 39em;
}

/*!*.example-tree-invisible {*!*/
/*!*  display: none;*!*/
/*!*}*!*/

/*!*.example-tree ul,*!*/
/*!*.example-tree li {*!*/
/*!*  margin-top: 0;*!*/
/*!*  margin-bottom: 0;*!*/
/*!*  list-style-type: none;*!*/
/*!*}*!*/

/*!*.example-tree .mat-nested-tree-node div[role=group] {*!*/
/*!*  padding-left: 40px;*!*/
/*!*}*!*/

/*!*.example-tree div[role=group] > .mat-tree-node {*!*/
/*!*  padding-left: 40px;*!*/
/*!*}*!*/
/*!*.mat-tree-node{*!*/
/*!*  background-color: #002b5c;*!*/
/*!*  color: white;*!*/
/*!*}*!*/
/*!*div{*!*/
/*!*  background-color: #002b5c;*!*/
/*!*}*!*/
/*!*.text-center{*!*/
/*!*  display: inline-grid;*!*/
/*!*}*!*/
/*!*.btn{*!*/
/*!*  font-size: 20px;*!*/
/*!*}*!*/
.toolbar_register {
  color: white;
  position: absolute;
  right: 6%;
}

.toolbar_split{
  color: white;
 position: absolute;
  right: 4.8%;

}

.toolbar_login {
  color: white;
  position: absolute;
  right: 1%;
}
