*{
  margin: 0;
  padding: 0;
  color: #f2f5f7;
  text-decoration-line: none;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: calc(10px + 1vmin);
}
nav{
  height: 6rem;
  width: 100%;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  z-index: 10;
}

/*Styling Links*/
.nav-links{
  display: flex;
  list-style: none;
  width: 100vw;
  padding: 0 0.7vw;
  padding-left: 3%;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  color: #61DAFB;
}
/*.nav-links li {*/
/*  position: relative;*/
/*}*/
/*.nav-links li a::before {*/
/*  content: "";*/
/*  display: block;*/
/*  height: 3px;*/
/*  width: 0%;*/
/*  background-color: #61DAFB;*/
/*  position: absolute;*/
/*  transition: all ease-in-out 250ms;*/
/*  margin: 0 0 0 10%;*/
/*}*/
/*.nav-links li a:hover::before{*/
/*  width: 80%;*/
/*}*/

/*Styling Buttons*/
.logout-button{
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;

}
.logout-button:hover {
  color: #131418;
  background-color: #ec0a0a;
  border:1.5px solid black;
  transition: all ease-in-out 350ms;
}

.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;

}
nav{
  position: fixed;
  z-index: 3;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){

  .hamburger{
    display:block;
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  nav{
    position: fixed;
    z-index: 3;
  }

  .nav-links{
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

}


.sidebar {
  position: fixed;
  top: 6rem;
  width: 40%;
  height: calc(100vh - 6rem);
  background-color: #131418;
  box-shadow: 2px 2px 5px blue;
  text-align: center;
  border: black solid 4px;
  border-bottom-right-radius: 10%;
  z-index: 4;
  font-size: 4vw;
}
.sidebar header {
  font-size: 4vw;
  color: white;
  text-decoration-line: none;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
  /*border: solid 4px black;*/
  z-index: 4;
}

.sidebar a{
  font-size: 4vw;
}

.sidebar li{
  margin-top: 10%;
}

@media(min-width: 600px) {
  .sidebar {
   width: 240px;

  }
  .sidebar header {
    font-size: 22px;
  }

  .sidebar a{
    font-size: 22px;
  }
}

img {
  cursor: pointer;
}

a:hover {
  color: #61DAFB;
}

/*#menu {*/
/*  width: 40px;*/
/*  height:40px;*/
/*  left: auto;*/
/*  border-radius: 200px 200px 200px 200px;*/
/*  -moz-border-radius: 200px 200px 200px 200px;*/
/*  -webkit-border-radius: 200px 200px 200px 200px;*/
/*  border: 0px solid #000000;*/
/*  z-index: 4;*/
/*}*/
