mat-toolbar {
  background: #c20505;
  color: white;
  height: 8%;
  margin-left: 1%;
  margin-right: 99%;
  margin-top: 1%;
  width: 98%;
  border-radius: 10px;
}

mat-sidenav {
  margin: 1%; /*okrajova vzdialenosť*/
  width: 10%;/*šírka*/
  border-right: none;/*okraj*/
  background: #c20505;/*farba*/
  color: white;
  border-radius: 10px; /*zaoblenie*/

  text-align: center;
}
mat-sidenav-container {
  height: calc(100vh - 65px);
  background-color: rgb(252, 170, 140);

}


/*!*.content {*!*/
/*!*  height: calc(100vh - 98px);*!*/
/*!*  border-radius: 10px;*!*/
/*!*  margin: 16px;*!*/
/*!*  margin-left: 32px;*!*/

/*!*  display: flex;*!*/
/*!*  justify-content: center;*!*/
/*!*  align-items: center;*!*/

/*!*  font-size: 2rem;*!*/
/*!*  color: lightgray;*!*/

/*!*}*!*/



.btn-info {
  background-color: black;
  border-color: black;
}

.btn-info:hover {
  border-color: #ff4a00;
}

.btn {
  margin-bottom: 15%;
}

/*!*.card-title {*!*/
/*!*  color: #002b5c;*!*/
/*!*  text-align: center;*!*/
/*!*  margin-top: 10px;*!*/
/*!*}*!*/
/*!*.toolbar_login {*!*/
/*!*  color: white;*!*/
/*!*  border-radius: 10px;*!*/
/*!*  padding: 16px;*!*/
/*!*  text-align: center;*!*/
/*!*  margin-left: 93%;*!*/
/*!*  position: fixed;*!*/
/*!*}*!*/
/*!*span{*!*/
/*!*  margin-left: 39em;*!*/
/*!*}*!*/

/*!*.example-tree-invisible {*!*/
/*!*  display: none;*!*/
/*!*}*!*/

/*!*.example-tree ul,*!*/
/*!*.example-tree li {*!*/
/*!*  margin-top: 0;*!*/
/*!*  margin-bottom: 0;*!*/
/*!*  list-style-type: none;*!*/
/*!*}*!*/

/*!*.example-tree .mat-nested-tree-node div[role=group] {*!*/
/*!*  padding-left: 40px;*!*/
/*!*}*!*/

/*!*.example-tree div[role=group] > .mat-tree-node {*!*/
/*!*  padding-left: 40px;*!*/
/*!*}*!*/
/*!*.mat-tree-node{*!*/
/*!*  background-color: #002b5c;*!*/
/*!*  color: white;*!*/
/*!*}*!*/
/*!*div{*!*/
/*!*  background-color: #002b5c;*!*/
/*!*}*!*/
/*!*.text-center{*!*/
/*!*  display: inline-grid;*!*/
/*!*}*!*/
/*!*.btn{*!*/
/*!*  font-size: 20px;*!*/
/*!*}*!*/
/*!*.toolbar_register{*!*/
/*!*  color: white;*!*/
/*!*  border-radius: 10px;*!*/
/*!*  padding: 16px;*!*/
/*!*  text-align: center;*!*/
/*!*  margin-left: 85%;*!*/
/*!*  position: fixed;*!*/
/*!*}*!*/
/*!*.toolbar_split{*!*/
/*!*  color: white;*!*/
/*!*  border-radius: 10px;*!*/
/*!*  padding: 16px;*!*/
/*!*  text-align: center;*!*/
/*!*  margin-left: 91.5%;*!*/
/*!*  position: fixed;*!*/
/*!*}*!*/
