<mat-toolbar>
  BazarApp
  <span class="username">{{getWhoIsLoggedIn()}}</span>
  <a routerLink="/login" *ngIf="!isLoggedIn()" class="toolbar_login">Login</a>
  <a routerLink="/registration" *ngIf="!isLoggedIn()" class="toolbar_register">Registration</a>
  <a *ngIf="!isLoggedIn()" class="toolbar_split">|</a>
  <a routerLink="/login" *ngIf="isLoggedIn()" (click)="logout()" class="toolbar_login">Logout</a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <a routerLink="/home" class="btn btn-info">Domov</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/allproducts" class="btn btn-info">EveryThing</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/createproduct" class="btn btn-info">Vytvoriť Inzerát</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/electronic" class="btn btn-info">Elektronika</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/garden" class="btn btn-info">Záhrada</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/vehicles" class="btn btn-info">Vozidla</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/image" class="btn btn-info">Obrazok</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <br>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
