<div class="everyThing">

  <div class="content">
    <h1><a class="text">Registrácia</a></h1>
    <br>
    <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">

      <mat-form-field appearance="fill">
        <mat-label for="username">Používateľské meno</mat-label>


        <input matInput type="text" id="username" name="username" placeholder="Zadajte meno" required
               [(ngModel)]="user.username" #username="ngModel">


      </mat-form-field>
      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
        <a class="warn-text">Použivatelské meno je povinné</a>
      </div>
      <br>
      <mat-form-field appearance="fill">
        <mat-label for="password">Heslo</mat-label>


        <input matInput type="password" id="password" name="password" placeholder="Zadajte heslo" required
               [(ngModel)]="user.password" #password="ngModel">


      </mat-form-field>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        <a class="warn-text">Použivateľské heslo je povinné</a>
      </div>
      <br>
      <mat-form-field appearance="fill">
        <mat-label for="email">Email</mat-label>


        <input matInput type="email" id="email" name="email" placeholder="Zadajte email" required
               [(ngModel)]="user.email" #email="ngModel">


      </mat-form-field>
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        <a class="warn-text">Použivateľský email je povinný</a>
      </div>
      <br>
      <mat-form-field appearance="fill">
        <mat-label for="phone">Telefón</mat-label>


        <input matInput type="text" id="phone" name="phone" placeholder="Zadajte telefón" required
               [(ngModel)]="user.phone" #phone="ngModel">


      </mat-form-field>
      <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
        <a class="warn-text">Použivateľský telefón je povinný</a>
      </div>
      <br>
      <mat-form-field appearance="fill">
        <mat-label for="address">Adresa</mat-label>


        <input matInput type="text" id="address" name="address" placeholder="Zadajte adresu" required
               [(ngModel)]="user.address" #address="ngModel">


      </mat-form-field>
      <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
        <a class="warn-text">Použivateľská adresa je povinná</a>
      </div>

      <br>

      <div *ngIf="showPassword">
      <mat-form-field appearance="fill" >
        <mat-label for="adminPassword">Admin password</mat-label>
        <input matInput type="password" id="adminPassword" name="adminPassword" placeholder="Enter admin password" required
               [(ngModel)]="user.confirmPassword" #adminPassword="ngModel">
      </mat-form-field>
        <br>
      </div>

      <mat-slide-toggle (change)="togglePassword()">
        Admin vytvorenie

      </mat-slide-toggle>
      <br>
      <br>
      <br>
      <button type="submit" class="btn-done" [disabled]="!registrationForm.form.valid">Registrovať</button>
      <!--    <br>-->
      <!--    <br>-->
      <!--    <div>-->
      <!--      <a [routerLink]="['/login']">Ak už máte účet prihlaste sa tu</a>-->
      <!--    </div>-->


    </form>
    <br>
    <div *ngIf="messageTrue" class="alert alert-success">
      <a class="success-text">{{message}}</a>
    </div>
    <div *ngIf="checkBadRegister" class="alert alert-danger">
     <a class="warn-text">{{message}}</a>
    </div>
  </div>
</div>
