.card {
  max-width: 320px;
  max-height: 200px;
  width: 80%;
  height: 60%;
  border: none;
  border-radius: 7px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.card:hover{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transform: scale(1.05);
  transition: all 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0.05);
}

a:link{
  text-decoration: none;
}

img{
  float: center;
    width:  100px;
    height: 100px;
    object-fit: cover;
    border-radius: 7px;

}

.card-title{
  text-shadow: 1px 1px 2px rgb(132, 132, 132);
  font-size: 16px;
  color: black;
  text-decoration: none;
}