<!-- <div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="everyThing">
  <br>
  <br>
<h1>Obľúbené inzeráty</h1>
<div class = "grid-container">
  <div class="grid-item" *ngFor="let product of allProducts;"  >
    <button  class="small_btn"  mat-button routerLink="/detail/{{product.id}}"  >
      <a class="text">{{product.name}}</a><br>
      <div class="picture" *ngIf=dbImageF>
        <img [src]="returnGoodImage(product.image.id)" >
      </div>
      <br>
      <a class="text">Počet videní: {{product.countClicksOnProduct}}</a>
    </button>
   <button class="delete-btn" mat-raised-button color="accent" (click)="removeFavourite(product.id)">Odobrať z obľúbených </button>
  </div>
</div>
 </div>  -->

<!-- <div class="container">
  <h1>Obľúbené inzeráty</h1>
  <div class="row text-center d-lg-flex d-xl-flex justify-content-center align-items-lg-center justify-content-xl-center align-items-xl-center m-2">
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 mb-3" style="padding: 5px; margin: 15px; box-shadow: 7px 7px 17px;border-radius: 7px;" *ngFor="let product of allProducts">
          <h5>{{product.name}}</h5>
          <img [src]="returnGoodImage(product.image.id)" class="img-fluid"/>
          <p>Počet videní: {{product.countClicksOnProduct}}</p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary" type="button" style="background: rgb(214,0,0);" (click)="removeFavourite(product.id)">Vymazať inzerát</button></div>
      </div>
  </div>
</div> -->

<div class="container mt-5">
  <div class="row">
      <div class="col text-center linled cardic" style="padding-right: 0px;padding-left: 0px;" routerLink="/detail/{{product.id}}" *ngFor="let product of allProducts">
          <h1>{{product.name}}</h1>
          <img [src]="returnGoodImage(product.image.id)" class="img-fluid" style="min-width: 200px;max-width: 300px;min-height: 150px;object-fit: cover;" />
          <div class="row mt-3 px-3">
            <div class="col" style="text-align: left">
              <p><strong>Počet videní:</strong></p>
            </div>
            <div class="col" style="text-align: right">
              {{ product.countClicksOnProduct }}
              <svg
                width="16px"
                height="16px"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    fill="#000000"
                    fill-rule="evenodd"
                    d="M3.415 10.242c-.067-.086-.13-.167-.186-.242a16.806 16.806 0 011.803-2.025C6.429 6.648 8.187 5.5 10 5.5c1.813 0 3.57 1.148 4.968 2.475A16.816 16.816 0 0116.771 10a16.9 16.9 0 01-1.803 2.025C13.57 13.352 11.813 14.5 10 14.5c-1.813 0-3.57-1.148-4.968-2.475a16.799 16.799 0 01-1.617-1.783zm15.423-.788L18 10l.838.546-.002.003-.003.004-.01.016-.037.054a17.123 17.123 0 01-.628.854 18.805 18.805 0 01-1.812 1.998C14.848 14.898 12.606 16.5 10 16.5s-4.848-1.602-6.346-3.025a18.806 18.806 0 01-2.44-2.852 6.01 6.01 0 01-.037-.054l-.01-.016-.003-.004-.001-.002c0-.001-.001-.001.837-.547l-.838-.546.002-.003.003-.004.01-.016a6.84 6.84 0 01.17-.245 18.804 18.804 0 012.308-2.66C5.151 5.1 7.394 3.499 10 3.499s4.848 1.602 6.346 3.025a18.803 18.803 0 012.44 2.852l.037.054.01.016.003.004.001.002zM18 10l.838-.546.355.546-.355.546L18 10zM1.162 9.454L2 10l-.838.546L.807 10l.355-.546zM9 10a1 1 0 112 0 1 1 0 01-2 0zm1-3a3 3 0 100 6 3 3 0 000-6z"
                  ></path>
                </g>
              </svg>
            </div>
          </div>
          <div class="btn-group" role="group">
            <button class="btn btn-primary" type="button" style="background: var(--bs-danger);" (click)="removeFavourite(product.id)">Vymazať</button>
          </div>
      </div>
  </div>
</div>
