h1{
  text-align: center;
  color: #0dcaf0;
  position: relative;
  z-index: 1;
  font-weight: bold;
}
.grid-container{

  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 2rem;

}

.linled{
  cursor: pointer;
}


.grid-item{

  padding: 5%;
  display: grid;
  place-items: center;

}

.small_btn{
  width: 90%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0%;

  background: linear-gradient(160deg, #000000 0%, #03036c 100%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  border: 3px solid #0dcaf0;

}

.text{
  text-decoration-line: none;
  color: #00ffff;
}


img{
  max-width: 100%;
  max-height: 5em;
}

.picture{
  height: 90px;
}

.btn-danger{
  margin-top: 1%;
}

.delete-btn{
  background: #ad0000;

  margin-top: 2px;
  margin-bottom: 2px;
  border: black solid 2px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  transition: all 0.15s ease;
}


.everyThing {
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;
  padding-top: 6rem;

}

@media (min-width: 0px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }

  .text{
    font-size: 5vw;
  }

  .picture{
    height: 30px;
  }
  img{
    height: 2.5em;
  }

}

@media (min-width: 350px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }


  .text{
    font-size: 1rem;
  }

  .picture{
    height: 40px;
  }
  img{
    height: 3em;
  }

}

.filter-text{
  color: #fff;
  text-decoration-line: none;
}

@media (min-width: 440px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }


  .text{
    font-size: 1rem;
  }

  .picture{
    height: 70px;
  }
  img{
    height: 4em;
  }


}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
  }

  .text{
    font-size: 1.2rem;
  }

  .picture{
    height: 70px;
  }
  img{
    height: 4em;
  }

}
@media (min-width: 850px) {

  .grid-container { grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;}

  .text{
    font-size: 1.2rem;
  }

  .picture{
    height: 70px;
  }
  img{
    height: 4em;
  }

}

@media (min-width: 1150px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
  }

  .small_btn{
    font-size: 1.5rem;
  }

  .text{
    font-size: 1.5rem;

  }

  .picture{
    height: 90px;
  }

  img{
    height: 5em;
  }
}

@media (max-width: 420px) {
  .delete-btn{
    font-size: small;
  }
}



@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  /*position: fixed;*/
  position: fixed;
  background: #0d0c0d;
  left: 60%;
  top: 50%;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #355fde;
  top: 65%;
  left: 13%;
  animation-duration: 54s;
  animation-delay: -29s;
  transform-origin: 23vw -8vh;
  box-shadow: 40vmin 0 5.967295685098076vmin currentColor;
}
.background span:nth-child(1) {
  color: #355fde;
  top: 49%;
  left: 70%;
  animation-duration: 33s;
  animation-delay: -30s;
  transform-origin: -1vw 9vh;
  box-shadow: -40vmin 0 5.759032741094235vmin currentColor;
}
.background span:nth-child(2) {
  color: #17d0de;
  top: 69%;
  left: 65%;
  animation-duration: 17s;
  animation-delay: -43s;
  transform-origin: -2vw 24vh;
  box-shadow: 40vmin 0 5.527000552022579vmin currentColor;
}
.background span:nth-child(3) {
  color: #17d0de;
  top: 89%;
  left: 70%;
  animation-duration: 21s;
  animation-delay: -9s;
  transform-origin: -13vw 20vh;
  box-shadow: 40vmin 0 5.620813281034288vmin currentColor;
}
.background span:nth-child(4) {
  color: #355fde;
  top: 51%;
  left: 78%;
  animation-duration: 24s;
  animation-delay: -43s;
  transform-origin: -10vw -19vh;
  box-shadow: 40vmin 0 5.300000798471646vmin currentColor;
}
.background span:nth-child(5) {
  color: #17d0de;
  top: 28%;
  left: 8%;
  animation-duration: 15s;
  animation-delay: -37s;
  transform-origin: -17vw -2vh;
  box-shadow: -40vmin 0 5.024238273194261vmin currentColor;
}
.background span:nth-child(6) {
  color: #355fde;
  top: 25%;
  left: 3%;
  animation-duration: 34s;
  animation-delay: -32s;
  transform-origin: 16vw -3vh;
  box-shadow: -40vmin 0 5.891954931429025vmin currentColor;
}
.background span:nth-child(7) {
  color: #17d0de;
  top: 11%;
  left: 45%;
  animation-duration: 53s;
  animation-delay: -30s;
  transform-origin: -13vw 23vh;
  box-shadow: 40vmin 0 5.545308502288567vmin currentColor;
}
.background span:nth-child(8) {
  color: #355fde;
  top: 45%;
  left: 80%;
  animation-duration: 37s;
  animation-delay: -10s;
  transform-origin: -13vw -11vh;
  box-shadow: -40vmin 0 5.248593003434209vmin currentColor;
}
.background span:nth-child(9) {
  color: #02007a;
  top: 28%;
  left: 70%;
  animation-duration: 54s;
  animation-delay: -23s;
  transform-origin: 12vw 13vh;
  box-shadow: 40vmin 0 5.569953033074527vmin currentColor;
}
.background span:nth-child(10) {
  color: #17d0de;
  top: 66%;
  left: 66%;
  animation-duration: 6s;
  animation-delay: -40s;
  transform-origin: -21vw -16vh;
  box-shadow: 40vmin 0 5.889511317246873vmin currentColor;
}
.background span:nth-child(11) {
  color: #17d0de;
  top: 8%;
  left: 91%;
  animation-duration: 34s;
  animation-delay: -28s;
  transform-origin: -20vw 15vh;
  box-shadow: 40vmin 0 5.285925935536161vmin currentColor;
}
.background span:nth-child(12) {
  color: #355fde;
  top: 26%;
  left: 2%;
  animation-duration: 7s;
  animation-delay: -16s;
  transform-origin: -16vw 24vh;
  box-shadow: 40vmin 0 5.444821673349782vmin currentColor;
}
.background span:nth-child(13) {
  color: #02007a;
  top: 19%;
  left: 58%;
  animation-duration: 32s;
  animation-delay: -17s;
  transform-origin: 18vw 2vh;
  box-shadow: 40vmin 0 5.049332543693692vmin currentColor;
}
.background span:nth-child(14) {
  color: #355fde;
  top: 44%;
  left: 42%;
  animation-duration: 30s;
  animation-delay: -43s;
  transform-origin: 24vw -21vh;
  box-shadow: 40vmin 0 5.743861955072242vmin currentColor;
}
.background span:nth-child(15) {
  color: #17d0de;
  top: 51%;
  left: 12%;
  animation-duration: 42s;
  animation-delay: -17s;
  transform-origin: -15vw 16vh;
  box-shadow: 40vmin 0 5.590878297065429vmin currentColor;
}
.background span:nth-child(16) {
  color: #02007a;
  top: 60%;
  left: 86%;
  animation-duration: 33s;
  animation-delay: -19s;
  transform-origin: -17vw 19vh;
  box-shadow: -40vmin 0 5.75459185023925vmin currentColor;
}
.background span:nth-child(17) {
  color: #17d0de;
  top: 31%;
  left: 73%;
  animation-duration: 44s;
  animation-delay: -45s;
  transform-origin: -6vw 18vh;
  box-shadow: -40vmin 0 5.609644782207015vmin currentColor;
}
.background span:nth-child(18) {
  color: #355fde;
  top: 53%;
  left: 94%;
  animation-duration: 48s;
  animation-delay: -3s;
  transform-origin: -19vw 13vh;
  box-shadow: -40vmin 0 5.213200877155403vmin currentColor;
}
.background span:nth-child(19) {
  color: #17d0de;
  top: 45%;
  left: 77%;
  animation-duration: 12s;
  animation-delay: -29s;
  transform-origin: 9vw 1vh;
  box-shadow: 40vmin 0 5.927226395302844vmin currentColor;
}

.cardic {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 15px;
  border: 0;
  padding: 15px;
}




/*@keyframes animate {*/
/*  0%{*/
/*    transform: translateY(0) rotate(0deg);*/
/*    opacity: 1;*/
/*    border-radius: 0;*/
/*  }*/
/*  100%{*/
/*    transform: translateY(-1000px) rotate(720deg);*/
/*    opacity: 0;*/
/*    border-radius: 50%;*/
/*  }*/
/*}*/

/*.background {*/
/*  position: fixed;*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*  top: 0;*/
/*  left: 0;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  background: linear-gradient(90deg, #000000 0%, #03036c 100%);*/
/*  overflow: hidden;*/
/*  z-index: -1;*/
/*}*/
/*.background li {*/
/*  position: absolute;*/
/*  display: block;*/
/*  list-style: none;*/
/*  width: 20px;*/
/*  height: 20px;*/
/*  background: rgba(255, 255, 255, 0.2);*/
/*  animation: animate 12s linear infinite;*/
/*}*/




/*.background li:nth-child(0) {*/
/*  left: 76%;*/
/*  width: 43px;*/
/*  height: 43px;*/
/*  bottom: -43px;*/
/*  animation-delay: 1s;*/
/*}*/
/*.background li:nth-child(1) {*/
/*  left: 26%;*/
/*  width: 191px;*/
/*  height: 191px;*/
/*  bottom: -191px;*/
/*  animation-delay: 5s;*/
/*}*/
/*.background li:nth-child(2) {*/
/*  left: 10%;*/
/*  width: 170px;*/
/*  height: 170px;*/
/*  bottom: -170px;*/
/*  animation-delay: 1s;*/
/*}*/
/*.background li:nth-child(3) {*/
/*  left: 5%;*/
/*  width: 75px;*/
/*  height: 75px;*/
/*  bottom: -75px;*/
/*  animation-delay: 8s;*/
/*}*/
/*.background li:nth-child(4) {*/
/*  left: 15%;*/
/*  width: 167px;*/
/*  height: 167px;*/
/*  bottom: -167px;*/
/*  animation-delay: 12s;*/
/*}*/
/*.background li:nth-child(5) {*/
/*  left: 41%;*/
/*  width: 42px;*/
/*  height: 42px;*/
/*  bottom: -42px;*/
/*  animation-delay: 3s;*/
/*}*/
/*.background li:nth-child(6) {*/
/*  left: 42%;*/
/*  width: 202px;*/
/*  height: 202px;*/
/*  bottom: -202px;*/
/*  animation-delay: 12s;*/
/*}*/
/*.background li:nth-child(7) {*/
/*  left: 60%;*/
/*  width: 120px;*/
/*  height: 120px;*/
/*  bottom: -120px;*/
/*  animation-delay: 35s;*/
/*}*/
/*.background li:nth-child(8) {*/
/*  left: 90%;*/
/*  width: 129px;*/
/*  height: 129px;*/
/*  bottom: -129px;*/
/*  animation-delay: 29s;*/
/*}*/
/*.background li:nth-child(9) {*/
/*  left: 43%;*/
/*  width: 81px;*/
/*  height: 81px;*/
/*  bottom: -81px;*/
/*  animation-delay: 7s;*/
/*}*/
/*.background li:nth-child(10) {*/
/*  left: 64%;*/
/*  width: 115px;*/
/*  height: 115px;*/
/*  bottom: -115px;*/
/*  animation-delay: 12s;*/
/*}*/
/*.background li:nth-child(11) {*/
/*  left: 20%;*/
/*  width: 139px;*/
/*  height: 139px;*/
/*  bottom: -139px;*/
/*  animation-delay: 26s;*/
/*}*/
/*.background li:nth-child(12) {*/
/*  left: 17%;*/
/*  width: 190px;*/
/*  height: 190px;*/
/*  bottom: -190px;*/
/*  animation-delay: 51s;*/
/*}*/
/*.background li:nth-child(13) {*/
/*  left: 31%;*/
/*  width: 67px;*/
/*  height: 67px;*/
/*  bottom: -67px;*/
/*  animation-delay: 47s;*/
/*}*/
/*.background li:nth-child(14) {*/
/*  left: 29%;*/
/*  width: 203px;*/
/*  height: 203px;*/
/*  bottom: -203px;*/
/*  animation-delay: 30s;*/
/*}*/
/*.background li:nth-child(15) {*/
/*  left: 70%;*/
/*  width: 39px;*/
/*  height: 39px;*/
/*  bottom: -39px;*/
/*  animation-delay: 75s;*/
/*}*/
/*.background li:nth-child(16) {*/
/*  left: 17%;*/
/*  width: 180px;*/
/*  height: 180px;*/
/*  bottom: -180px;*/
/*  animation-delay: 8s;*/
/*}*/
/*.background li:nth-child(17) {*/
/*  left: 50%;*/
/*  width: 56px;*/
/*  height: 56px;*/
/*  bottom: -56px;*/
/*  animation-delay: 17s;*/
/*}*/
/*.background li:nth-child(18) {*/
/*  left: 48%;*/
/*  width: 68px;*/
/*  height: 68px;*/
/*  bottom: -68px;*/
/*  animation-delay: 87s;*/
/*}*/
/*.background li:nth-child(19) {*/
/*  left: 84%;*/
/*  width: 46px;*/
/*  height: 46px;*/
/*  bottom: -46px;*/
/*  animation-delay: 35s;*/
/*}*/
/*.background li:nth-child(20) {*/
/*  left: 65%;*/
/*  width: 66px;*/
/*  height: 66px;*/
/*  bottom: -66px;*/
/*  animation-delay: 93s;*/
/*}*/
/*.background li:nth-child(21) {*/
/*  left: 75%;*/
/*  width: 258px;*/
/*  height: 258px;*/
/*  bottom: -258px;*/
/*  animation-delay: 70s;*/
/*}*/
/*.background li:nth-child(22) {*/
/*  left: 67%;*/
/*  width: 180px;*/
/*  height: 180px;*/
/*  bottom: -180px;*/
/*  animation-delay: 105s;*/
/*}*/
/*.background li:nth-child(23) {*/
/*  left: 2%;*/
/*  width: 171px;*/
/*  height: 171px;*/
/*  bottom: -171px;*/
/*  animation-delay: 90s;*/
/*}*/
/*.background li:nth-child(24) {*/
/*  left: 67%;*/
/*  width: 209px;*/
/*  height: 209px;*/
/*  bottom: -209px;*/
/*  animation-delay: 7s;*/
/*}*/
/*.background li:nth-child(25) {*/
/*  left: 51%;*/
/*  width: 88px;*/
/*  height: 88px;*/
/*  bottom: -88px;*/
/*  animation-delay: 46s;*/
/*}*/
/*.background li:nth-child(26) {*/
/*  left: 39%;*/
/*  width: 78px;*/
/*  height: 78px;*/
/*  bottom: -78px;*/
/*  animation-delay: 61s;*/
/*}*/
/*.background li:nth-child(27) {*/
/*  left: 14%;*/
/*  width: 207px;*/
/*  height: 207px;*/
/*  bottom: -207px;*/
/*  animation-delay: 109s;*/
/*}*/
/*.background li:nth-child(28) {*/
/*  left: 42%;*/
/*  width: 179px;*/
/*  height: 179px;*/
/*  bottom: -179px;*/
/*  animation-delay: 22s;*/
/*}*/
/*.background li:nth-child(29) {*/
/*  left: 75%;*/
/*  width: 178px;*/
/*  height: 178px;*/
/*  bottom: -178px;*/
/*  animation-delay: 1s;*/
/*}*/
/*.background li:nth-child(30) {*/
/*  left: 66%;*/
/*  width: 82px;*/
/*  height: 82px;*/
/*  bottom: -82px;*/
/*  animation-delay: 52s;*/
/*}*/
/*.background li:nth-child(31) {*/
/*  left: 80%;*/
/*  width: 65px;*/
/*  height: 65px;*/
/*  bottom: -65px;*/
/*  animation-delay: 40s;*/
/*}*/
/*.background li:nth-child(32) {*/
/*  left: 30%;*/
/*  width: 74px;*/
/*  height: 74px;*/
/*  bottom: -74px;*/
/*  animation-delay: 41s;*/
/*}*/
/*.background li:nth-child(33) {*/
/*  left: 60%;*/
/*  width: 194px;*/
/*  height: 194px;*/
/*  bottom: -194px;*/
/*  animation-delay: 6s;*/
/*}*/
/*.background li:nth-child(34) {*/
/*  left: 16%;*/
/*  width: 248px;*/
/*  height: 248px;*/
/*  bottom: -248px;*/
/*  animation-delay: 77s;*/
/*}*/
/*.background li:nth-child(35) {*/
/*  left: 68%;*/
/*  width: 154px;*/
/*  height: 154px;*/
/*  bottom: -154px;*/
/*  animation-delay: 97s;*/
/*}*/
/*.background li:nth-child(36) {*/
/*  left: 33%;*/
/*  width: 207px;*/
/*  height: 207px;*/
/*  bottom: -207px;*/
/*  animation-delay: 102s;*/
/*}*/
/*.background li:nth-child(37) {*/
/*  left: 24%;*/
/*  width: 255px;*/
/*  height: 255px;*/
/*  bottom: -255px;*/
/*  animation-delay: 158s;*/
/*}*/
/*.background li:nth-child(38) {*/
/*  left: 71%;*/
/*  width: 238px;*/
/*  height: 238px;*/
/*  bottom: -238px;*/
/*  animation-delay: 121s;*/
/*}*/
/*.background li:nth-child(39) {*/
/*  left: 42%;*/
/*  width: 71px;*/
/*  height: 71px;*/
/*  bottom: -71px;*/
/*  animation-delay: 183s;*/
/*}*/
/*.background li:nth-child(40) {*/
/*  left: 58%;*/
/*  width: 62px;*/
/*  height: 62px;*/
/*  bottom: -62px;*/
/*  animation-delay: 113s;*/
/*}*/
/*.background li:nth-child(41) {*/
/*  left: 78%;*/
/*  width: 87px;*/
/*  height: 87px;*/
/*  bottom: -87px;*/
/*  animation-delay: 20s;*/
/*}*/
/*.background li:nth-child(42) {*/
/*  left: 0%;*/
/*  width: 199px;*/
/*  height: 199px;*/
/*  bottom: -199px;*/
/*  animation-delay: 121s;*/
/*}*/
/*.background li:nth-child(43) {*/
/*  left: 26%;*/
/*  width: 116px;*/
/*  height: 116px;*/
/*  bottom: -116px;*/
/*  animation-delay: 57s;*/
/*}*/
/*.background li:nth-child(44) {*/
/*  left: 50%;*/
/*  width: 94px;*/
/*  height: 94px;*/
/*  bottom: -94px;*/
/*  animation-delay: 185s;*/
/*}*/
/*.background li:nth-child(45) {*/
/*  left: 1%;*/
/*  width: 207px;*/
/*  height: 207px;*/
/*  bottom: -207px;*/
/*  animation-delay: 87s;*/
/*}*/
/*.background li:nth-child(46) {*/
/*  left: 65%;*/
/*  width: 250px;*/
/*  height: 250px;*/
/*  bottom: -250px;*/
/*  animation-delay: 147s;*/
/*}*/
/*.background li:nth-child(47) {*/
/*  left: 78%;*/
/*  width: 95px;*/
/*  height: 95px;*/
/*  bottom: -95px;*/
/*  animation-delay: 79s;*/
/*}*/
/*.background li:nth-child(48) {*/
/*  left: 23%;*/
/*  width: 265px;*/
/*  height: 265px;*/
/*  bottom: -265px;*/
/*  animation-delay: 185s;*/
/*}*/
/*.background li:nth-child(49) {*/
/*  left: 28%;*/
/*  width: 248px;*/
/*  height: 248px;*/
/*  bottom: -248px;*/
/*  animation-delay: 44s;*/
/*}*/
