<!--<ul class="background">-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--  <li></li>-->
<!--</ul>-->
<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="everyThing">
  <br>
  <br>
<h1>Obľúbené inzeráty</h1>
<div class = "grid-container">
  <div class="grid-item" *ngFor="let product of allProducts;"  >
    <button  class="small_btn"  mat-button routerLink="/detail/{{product.id}}"  >
      <a class="text">{{product.name}}</a><br>
      <div class="picture" *ngIf=dbImageF>
        <img [src]="returnGoodImage(product.image.id)" >
      </div>
      <br>
      <a class="text">Počet videní: {{product.countClicksOnProduct}}</a>
    </button>
   <button class="delete-btn" mat-raised-button color="accent" (click)="removeFavourite(product.id)">Odobrať z obľúbených </button>
  </div>
</div>
</div>
