<h1>Inzeráty</h1>
<!--<mat-grid-list cols="4" rowHeight="350">-->
<!--  <mat-grid-tile *ngFor="let product of allProducts">-->
<!--    <mat-card class="example-card">-->
<!--      <div class = "title">-->
<!--        <h2>{{product.name}}</h2>-->
<!--      </div>-->
<!--      <div class="clicks">-->
<!--        <p>{{product.countClicksOnProduct}}</p>-->
<!--      </div>-->
<!--      <div class="button">-->
<!--        <button class="detail_button"  mat-button routerLink="/detail/{{product.id}}">Detail</button>-->
<!--      </div>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--<div class = "grid-container">-->
<!--  <div class="grid-item" *ngFor="let product of allProducts">-->

<!--<div class = "item">-->
<!--      <div class = "title">-->
<!--        <p>{{product.name}}</p>-->
<!--      </div>-->
<!--      <div class="clicks">-->
<!--        <p>{{product.countClicksOnProduct}}</p>-->
<!--      </div>-->
<!--      <div class="button">-->
<!--        <button class="detail_button"  mat-button routerLink="/detail/{{product.id}}">Detail</button>-->
<!--      </div>-->

<!--</div>-->
<!--  </div>-->
<!--</div>-->

<div class="header">
  <mat-form-field appearance="fill" class="option">
    <mat-label>Zoradiť podľa:</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="changeState()">
      <mat-option value='Name'>Názov</mat-option>
       <mat-option value='Location'>Lokalizácia</mat-option>
      <mat-option value='PriceMin'>Cena(od najlacnešieho)</mat-option>
      <mat-option value='PriceMax'>Cena(od najdrahšieho)</mat-option>
      <mat-option value='Clicks'>Počeť videní</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Vyhľadávanie</mat-label>
    <input matInput (keyup)="filterProduct($event)" placeholder="Search">
  </mat-form-field>

  <div>
    <mat-form-field class="mat_input minsz" appearance="fill">
      <mat-label>Minimálna cena</mat-label>
      <input matInput (keypress)="onlyNumbers($event)" (ngModelChange)="onMinChange($event)" [(ngModel)]="min_value"
             placeholder="type only number">
    </mat-form-field>
  </div>
  <mat-form-field class="mat_input" appearance="fill" >
    <mat-label>Maximálna cena</mat-label>
    <input matInput (keypress)="onlyNumbers($event)" (ngModelChange)="onMaxChange($event)" [(ngModel)]="max_value"
           placeholder="type only number">
  </mat-form-field>
  <div class="btns">
    <button mat-raised-button color="primary" class="apply rgbn" (click)="filterPrice()">Apply filter</button>
    <button mat-raised-button color="warn" class="reset" (click)="resetFilter()">Reset filter</button>
  </div>
</div>

<div class = "grid-container">
  <div class="grid-item" *ngFor="let product of allProducts" >

<!--    <div *ngIf="allProducts.length">-->
<!--      {{viewImage(product.image.id) ? viewImage(product.image.id) : ""}}-->
<!--    </div>-->


<!--    <button (click)="viewImage(product.image.id)">Zobrazi Image</button>-->
      <button  class="small_btn"  mat-button routerLink="/detail/{{product.id}}"  >
          {{product.name}}<br>



<!--      <img src="data:image/jpeg;base64,{{+product.image}}">-->


          <div class="picture" *ngIf="dbImage" >
            <img [src]="list[product.id-1]" >
          </div>
        <img [src]="product.image.image" >



<!--          <img src="data:image/jpeg;base64,{{product.image.type, product.image.image}}" >-->
<!--        {{ukazMiLasku(product.image.id) ? ukazMiLasku(product.image.id) : ""}}-->
<!--        <div *ngIf="test">-->
<!--          <img [src]="listNumlock[bum]" >-->
<!--        </div>-->









<!--          <div>-->
<!--            <img [src]="'data:image/jpeg;base64,'+product.image.id"  >-->
<!--          </div>-->
          {{product.countClicksOnProduct}}
        </button>
  </div>
</div>

