<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="everyThing">
  <br>
<h1>Všetky inzeráty</h1>
  <div class="header">
    <mat-form-field appearance="fill" class="option">
      <mat-label><a class = "filter-text">Zoradiť podľa:</a></mat-label>
      <mat-select [(value)]="selected" (selectionChange)="changeState()">
        <mat-option value='Name'>Názov</mat-option>
        <mat-option value='Location'>Lokácia</mat-option>
        <mat-option value='PriceMin'>Cena(od najlacnejšieho)</mat-option>
        <mat-option value='PriceMax'>Cena(od najdrahšieho)</mat-option>
        <mat-option value='Clicks'>Počeť videní</mat-option>
        <a class = "filter-text"></a>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> <a class = "filter-text">Vyhľadávanie</a></mat-label>
      <input matInput (keyup)="filterProduct($event)" placeholder="Hľadaj">
    </mat-form-field>


    <mat-form-field class="mat_input minsz" appearance="fill">
      <mat-label><a class = "filter-text">Minimálna cena</a></mat-label>
      <input matInput (keypress)="onlyNumbers($event)" (ngModelChange)="onMinChange($event)" [(ngModel)]="min_value"
             placeholder="Píš iba čísla">
    </mat-form-field>


    <mat-form-field class="mat_input" appearance="fill" >
      <mat-label><a class = "filter-text">Maximálna cena</a></mat-label>
      <input matInput (keypress)="onlyNumbers($event)" (ngModelChange)="onMaxChange($event)" [(ngModel)]="max_value"
             placeholder="Píš iba čísla">
    </mat-form-field>


  <button mat-raised-button color="primary" class="apply" (click)="filterPrice()">Aplikuj filter</button>

  <button mat-raised-button color="warn" class="reset" (click)="resetFilter()"> Obnov filter</button>
</div>

<div class = "grid-container">
  <div class="grid-item" *ngFor="let product of allProducts;"  >

    <button  class="small_btn"  mat-button routerLink="/detail/{{product.id}}"  >
      <a class="text">{{product.name}}</a><br>

<!--        <div class="picture" *ngIf=dbImageF>-->
<!--          <img [src]="returnGoodImage(product.image.id)" >-->
<!--        </div>-->
      <div class="picture" >
        <img [src]="this.product.image" >
      </div>

      <br>
      <a class="text"> Cena: {{product.price}}</a>
      <br>
      <a class="text">Počet videní: {{product.countClicksOnProduct}}</a>
        </button>

  </div>
</div>
</div>


