.everyThing {
  /*background:  radial-gradient(ellipse at left bottom, #b1e5ee 5%, #2d89d4 25%, #1d3363 50%, #000000 100%);*/

  /*overflow: hidden;*/
  padding-top: 6rem;
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;

}

.linled{
  cursor: pointer;
}

.cardic {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 15px;
  border: 0;
  padding: 15px;
}



h1{
  text-align: center;
  color: #0dcaf0;
  position: relative;
  z-index: 1;
  font-weight: bold;
}
.grid-container{

  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 2rem;

}


.grid-item{

  padding: 5%;
  display: grid;
  place-items: center;

}

.small_btn{
  width: 90%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0%;

  background: linear-gradient(160deg, #000000 0%, #03036c 100%);
  color: #0dcaf0;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  border: 3px solid #0dcaf0;

}

.text{
  text-decoration-line: none;
  color: #00ffff;
}

img{
  max-width: 100%;
  max-height: 5em;
}

.mat-form-field{
  margin-left: 5px;
  margin-right: 5px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex
{
  /*background-color: lightskyblue;*/
  background-color: #0a257e;
  border-radius: 5px;
}

.mat-label{
  color: #fff;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr); ;
  height: 6rem;
  margin-right: 5%;
  margin-left: 5%;
  justify-content: center;
}

.picture{
  height: 90px;
}

input{
  color: #0dcaf0;
}
::ng-deep .mat-select-value{
  color: #0dcaf0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0dcaf0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #0dcaf0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #0dcaf0;
}


.reset{
  background: #ad0000;
  margin-right: 1%;
  margin-left: 1%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: black solid 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.apply
{
  background: #03036c;
  border: black solid 2px;
  margin-right: 1%;
  margin-left: 1%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  transition: all 0.15s ease;
}


@media (min-width: 0px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20rem;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .text{
    font-size: 5vw;
  }

  .picture{
    height: 30px;
  }
  img{
    height: 2.5em;
  }

  .reset
  {
    margin-top: 1rem;

  }
}

@media (min-width: 350px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20rem;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .text{
    font-size: 1rem;
  }

  .picture{
    height: 40px;
  }
  img{
    height: 3em;
  }

  .reset
  {
    margin-top: 1rem;

  }
}

.filter-text{
  color: #fff;
  text-decoration-line: none;
}

@media (min-width: 440px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 8rem;
  }
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .text{
    font-size: 1rem;
  }

  .picture{
    height: 70px;
  }
  img{
    height: 4em;
  }
  .reset
  {
    margin-top: 0;
  }
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 8rem;
  }
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .text{
    font-size: 1.2rem;
  }

  .picture{
    height: 70px;
  }
  img{
    height: 4em;
  }

}
@media (min-width: 850px) {

  .grid-container { grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;}

  .header { margin-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .text{
    font-size: 1.2rem;
  }

  .picture{
    height: 70px;
  }
  img{
    height: 4em;
  }

}

@media (min-width: 1150px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
  }
  .header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .small_btn{
    font-size: 1.5rem;
  }

  .text{
    font-size: 1.5rem;

  }

  .picture{
    height: 90px;
  }

  img{
    height: 5em;
  }
}



@media(max-width: 1060px){
  .grid-container{


  }
}
@media(max-width: 800px){
  h1{
    padding-top: 6rem;
  }

  header{
    margin-top: 0;
  }

  .everyThing{
    padding-top: 0;
  }

}




/*}*/
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  /*position: fixed;*/
  position: fixed;
  background: #0d0c0d;
  left: 50%;
  top: 50%;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #355fde;
  top: 65%;
  left: 13%;
  animation-duration: 54s;
  animation-delay: -29s;
  transform-origin: 23vw -8vh;
  box-shadow: 40vmin 0 5.967295685098076vmin currentColor;
}
.background span:nth-child(1) {
  color: #355fde;
  top: 49%;
  left: 70%;
  animation-duration: 33s;
  animation-delay: -30s;
  transform-origin: -1vw 9vh;
  box-shadow: -40vmin 0 5.759032741094235vmin currentColor;
}
.background span:nth-child(2) {
  color: #17d0de;
  top: 69%;
  left: 65%;
  animation-duration: 17s;
  animation-delay: -43s;
  transform-origin: -2vw 24vh;
  box-shadow: 40vmin 0 5.527000552022579vmin currentColor;
}
.background span:nth-child(3) {
  color: #17d0de;
  top: 89%;
  left: 70%;
  animation-duration: 21s;
  animation-delay: -9s;
  transform-origin: -13vw 20vh;
  box-shadow: 40vmin 0 5.620813281034288vmin currentColor;
}
.background span:nth-child(4) {
  color: #355fde;
  top: 51%;
  left: 78%;
  animation-duration: 24s;
  animation-delay: -43s;
  transform-origin: -10vw -19vh;
  box-shadow: 40vmin 0 5.300000798471646vmin currentColor;
}
.background span:nth-child(5) {
  color: #17d0de;
  top: 28%;
  left: 8%;
  animation-duration: 15s;
  animation-delay: -37s;
  transform-origin: -17vw -2vh;
  box-shadow: -40vmin 0 5.024238273194261vmin currentColor;
}
.background span:nth-child(6) {
  color: #355fde;
  top: 25%;
  left: 3%;
  animation-duration: 34s;
  animation-delay: -32s;
  transform-origin: 16vw -3vh;
  box-shadow: -40vmin 0 5.891954931429025vmin currentColor;
}
.background span:nth-child(7) {
  color: #355fde;
  top: 11%;
  left: 45%;
  animation-duration: 53s;
  animation-delay: -30s;
  transform-origin: -13vw 23vh;
  box-shadow: 40vmin 0 5.545308502288567vmin currentColor;
}
.background span:nth-child(8) {
  color: #355fde;
  top: 45%;
  left: 80%;
  animation-duration: 37s;
  animation-delay: -10s;
  transform-origin: -13vw -11vh;
  box-shadow: -40vmin 0 5.248593003434209vmin currentColor;
}
.background span:nth-child(9) {
  color: #02007a;
  top: 28%;
  left: 70%;
  animation-duration: 54s;
  animation-delay: -23s;
  transform-origin: 12vw 13vh;
  box-shadow: 40vmin 0 5.569953033074527vmin currentColor;
}
.background span:nth-child(10) {
  color: #17d0de;
  top: 66%;
  left: 66%;
  animation-duration: 6s;
  animation-delay: -40s;
  transform-origin: -21vw -16vh;
  box-shadow: 40vmin 0 5.889511317246873vmin currentColor;
}
.background span:nth-child(11) {
  color: #17d0de;
  top: 8%;
  left: 91%;
  animation-duration: 34s;
  animation-delay: -28s;
  transform-origin: -20vw 15vh;
  box-shadow: 40vmin 0 5.285925935536161vmin currentColor;
}
.background span:nth-child(12) {
  color: #17d0de;
  top: 26%;
  left: 2%;
  animation-duration: 7s;
  animation-delay: -16s;
  transform-origin: -16vw 24vh;
  box-shadow: 40vmin 0 5.444821673349782vmin currentColor;
}
.background span:nth-child(13) {
  color: #02007a;
  top: 19%;
  left: 58%;
  animation-duration: 32s;
  animation-delay: -17s;
  transform-origin: 18vw 2vh;
  box-shadow: 40vmin 0 5.049332543693692vmin currentColor;
}
.background span:nth-child(14) {
  color: #355fde;
  top: 44%;
  left: 42%;
  animation-duration: 30s;
  animation-delay: -43s;
  transform-origin: 24vw -21vh;
  box-shadow: 40vmin 0 5.743861955072242vmin currentColor;
}
.background span:nth-child(15) {
  color: #17d0de;
  top: 51%;
  left: 12%;
  animation-duration: 42s;
  animation-delay: -17s;
  transform-origin: -15vw 16vh;
  box-shadow: 40vmin 0 5.590878297065429vmin currentColor;
}
.background span:nth-child(16) {
  color: #02007a;
  top: 60%;
  left: 86%;
  animation-duration: 33s;
  animation-delay: -19s;
  transform-origin: -17vw 19vh;
  box-shadow: -40vmin 0 5.75459185023925vmin currentColor;
}
.background span:nth-child(17) {
  color: #355fde;
  top: 31%;
  left: 73%;
  animation-duration: 44s;
  animation-delay: -45s;
  transform-origin: -6vw 18vh;
  box-shadow: -40vmin 0 5.609644782207015vmin currentColor;
}
.background span:nth-child(18) {
  color: #355fde;
  top: 53%;
  left: 94%;
  animation-duration: 48s;
  animation-delay: -3s;
  transform-origin: -19vw 13vh;
  box-shadow: -40vmin 0 5.213200877155403vmin currentColor;
}
.background span:nth-child(19) {
  color: #17d0de;
  top: 45%;
  left: 77%;
  animation-duration: 12s;
  animation-delay: -29s;
  transform-origin: 9vw 1vh;
  box-shadow: 40vmin 0 5.927226395302844vmin currentColor;
}
