.imageSize{
  max-height: 15em;
  max-width: 90%;
  cursor: pointer;
}

.everyThing{
  min-height: calc(100vh - 6rem);
  background: linear-gradient(0deg, #000000 0%, #03036c 100%);
  background: repeating-conic-gradient(#000000 0%, #03036c 100%);
  background: radial-gradient(circle, #03036c 50%, #000000  80%);
  padding-top: 6rem;
}

.information{
  position: relative;
  justify-content: center;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  /*border: 10px solid #4fc3dc;*/
  border:10px solid black;
  background: radial-gradient(circle at bottom, #b1e5ee 5%, #2d89d4 25%, #1d3363 80%, #0f2e40 100%);
  min-height: calc(100vh - 6rem);
}

.text{
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
}

.picture{
  position: relative;
  justify-content: center;
  text-align: center;
}

.imageDetail{
  max-height: 70vh;
  max-width: 90%;
}

.modal-body{
  position: relative;
  justify-content: center;
  text-align: center;
}

.modal-header{
  position: relative;
  justify-content: center;
  text-align: center;

}

h2{
 color: white;
}

button{
  color: white;
}

button:hover{
  color: lightseagreen;
}

.fav-btn{
  color: white;
  background: repeating-linear-gradient(45deg, #000000, #000000 20px, #03036c 20px, #03036c 30px);
  max-width: 90%;
}

p{
  color: black;
  font-weight: bold;
}

h2{
  color: black;
}

@media (max-width: 800px) {
  .everyThing{
    padding-top: 6rem;
  }
  .information{
    margin-left: 10%;
    margin-right: 10%;
  }
}
