<div class="everyThing">
<div class="information">
  <br>
  <h1>{{allProducts.name}}</h1>
  <div class = "description">Popis: <div class="text">{{allProducts.description}}</div></div>
  <br>
  <div class="price">Cena: {{allProducts.price}}</div>
  <br>
  <div class="location">Lokácia: {{allProducts.localization}}</div>
  <br>
  <div class="picture" *ngIf=dbImage>
    <img class="imageSize" [src]="dbImage" (click)="openModal('custom-modal-1')">
  </div>
  <br>
 <button class="fav-btn" (click)="addToFavourite()"> <img src="../../assets/favourite.png" height="60" > <br> Pridať medzi obľúbené</button>
 <br>
<div class="contact">
  <h2>Kontakt:</h2>
<!--  <p>Používateľ: {{allProducts.user.userName}}</p>-->
<!--  <p>Email: {{allProducts.user.email}}</p>-->
<!--  <p>Telefonne číslo: {{allProducts.user.phone}}</p>-->
<!--  <p>Adresa: {{allProducts.user.address}}</p>-->
</div>
</div>
</div>


<jw-modal id="custom-modal-1">
  <div class="modal-header">
    <h2 class="modal-title">{{allProducts.name}}</h2>
  </div>
  <div class="modal-body">
    <img class="imageDetail" [src]="dbImage">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="closeModal('custom-modal-1')">Zavrieť</button>
  </div>

