
<div class="information">
  <h1>{{allProducts.name}}</h1>
  <p class = "description">Opis: {{allProducts.description}}</p>
  <p class="price">Cena: {{allProducts.price}}</p>
  <p class="location">Lokácia: {{allProducts.localization}}</p>

<!--  <img [src]="allProducts.image">-->
  <button *ngIf="isSomeoneLoggedIn" (click)="addToFavourite()"> <img src="../../assets/favourite.png" height="60" > <br> Pridať medzi obľúbené</button>
  <button *ngIf="isAdminLoggedIn()" (click)="deleteProduct()">Vymazať inzerát</button>

</div>

<div class="contact">
  <h2>Kontakt:</h2>
  <p>Používateľ: {{allProducts.user.userName}}</p>
  <p>Email: {{allProducts.user.email}}</p>
  <p>Telefonne číslo: {{allProducts.user.phone}}</p>
  <p>Adresa: {{allProducts.user.address}}</p>
</div>

<div class="picture" *ngIf=dbImage>
  <img class="imageSize" [src]="dbImage">
</div>

