.img{
    width:  150px;
    height: 150px;
    border-radius: 7px;
    padding-bottom: 15px;
}

img{
  border-radius: 7px;
  object-fit: cover;
  cursor: pointer;
}

ul{
  list-style: none;
  padding: 0;
}

p{
  font-size: 16px;
  }

  .price{
    color: red;
    font-weight: 500;
  }