<div class="everyThing">
<div class="information">
  <br>
  <h1>{{allProducts.name}}</h1>
  <div class = "description">Popis: <div class="text">{{allProducts.description}}</div></div>
  <br>
  <div class="price">Cena: {{allProducts.price}}</div>
  <br>
  <div class="location">Lokácia: {{allProducts.localization}}</div>
  <br>
  <div class="picture" *ngIf=dbImage>
    <img class="imageSize" [src]="dbImage" (click)="openModal('custom-modal-1')">
  </div>
  <br>
  <div class="buttons">
 <button *ngIf="token" class="fav-btn" (click)="addToFavourite()"> <img src="../../assets/hviezda%20modra.png" height="60" > <br> Pridať medzi obľúbené</button>
 <br>
  <button *ngIf="isAdmin() && token" class="fav-btn" (click)="deleteProduct()"><img src="../../assets/modrý%20kôš.png" height="60"> <br> Vymazať inzerát</button>
  <br>
    </div>
<div class="contact">
  <h2>Kontakt:</h2>
  <p>Používateľ: {{allProducts.userEntity.username}}</p>
  <p>Email: {{allProducts.userEntity.email}}</p>
  <p>Telefonne číslo: {{allProducts.userEntity.phone}}</p>
  <p>Adresa: {{allProducts.userEntity.address}}</p>
</div>
</div>
</div>


<jw-modal id="custom-modal-1">
  <div class="modal-header">
    <h2 class="modal-title">{{allProducts.name}}</h2>
  </div>
  <div class="modal-body">
    <img class="imageDetail" [src]="dbImage">
  </div>
  <br>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="closeModal('custom-modal-1')">Zavrieť</button>
  </div>
</jw-modal>
