<h1>Inzeráty</h1>
<!--<mat-grid-list cols="4" rowHeight="350"  >-->
<!--  <mat-grid-tile *ngFor="let product of allProducts">-->
<!--    <mat-card class="example-card">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>{{product.name}}</mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <mat-card-body>-->
<!--        <mat-card-title>{{product.countClicksOnProduct}}</mat-card-title>-->
<!--      </mat-card-body>-->
<!--      <mat-card-actions>-->
<!--        <button class="detail_button"  mat-button routerLink="/detail/{{product.id}}">Detail</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->



<div class="header">
  <mat-form-field appearance="fill" class="option">
    <mat-label>Zoradiť podľa:</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="changeState()">
      <mat-option value='Name'>Názov</mat-option>
      <mat-option value='Location'>Lokalizácia</mat-option>
      <mat-option value='PriceMin'>Cena(od najlacnejšieho)</mat-option>
      <mat-option value='PriceMax'>Cena(od najdrahšieho)</mat-option>
      <mat-option value='Clicks'>Počeť videní</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Vyhľadávanie</mat-label>
    <input matInput (keyup)="filterProduct($event)" placeholder="Search">
  </mat-form-field>

  <div>
    <mat-form-field class="mat_input minsz" appearance="fill">
      <mat-label>Minimálna cena</mat-label>
      <input matInput (keypress)="onlyNumbers($event)" (ngModelChange)="onMinChange($event)" [(ngModel)]="min_value"
             placeholder="type only number">
    </mat-form-field>
  </div>
  <mat-form-field class="mat_input" appearance="fill" >
    <mat-label>Maximálna cena</mat-label>
    <input matInput (keypress)="onlyNumbers($event)" (ngModelChange)="onMaxChange($event)" [(ngModel)]="max_value"
           placeholder="type only number">
  </mat-form-field>
  <div class="btns">
    <button mat-raised-button color="primary" class="apply rgbn" (click)="filterPrice()">Apply filter</button>
    <button mat-raised-button color="warn" class="reset" (click)="resetFilter()">Reset filter</button>
  </div>
</div>


<div class = "grid-container">
  <div class="grid-item" *ngFor="let product of allProducts"  >
    <button  class="small_btn"  mat-button routerLink="/detail/{{product.id}}"  >
      {{product.name}}<br>

      <div class="picture" *ngIf=dbImageF>
        <img [src]="dbImageF[0]" >
      </div>

      {{product.countClicksOnProduct}}
    </button>
  </div>
</div>
