
div{
  text-align: center;
}

.bubbles
{
  height: calc(100vh - 6rem );
  position: fixed;
  display: flex;
  z-index: -1;
  align-content: flex-end;
  flex-wrap: wrap;
}

.bubbles span
{
  position: relative;
  width: 30px;
  height: 30px;
  /*background: #4fc3dc;*/
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  /*box-shadow: 0 0 0 10px rgba(216, 236, 96, 0.27), 0 0 50px #ffd500, 0 0 100px #fcd100;*/
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  z-index: 1;
  display: unset;
}
.bubbles span:nth-child(even)
{
  background: #2c00ee;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #2c00ee, 0 0 100px #2c00ee;
  /*background: #4fc3dc;*/
  /*box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;*/
  z-index: 1;
}
@keyframes animate {
  0% {
    transform: translateY(50vh) scale(0);
  }
  100% {
    transform: translateY(-100vh) scale(1);
  }
}


.content {
  /*background-color:rgba(255,255,255,.8);*/
  /*background: linear-gradient(90deg, #020ef5 0%, #000000 100%);*/


  background: white;
  border-radius: 10%;
  border: #131418 3px solid;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;

  padding: 5%;
  padding-right: 7%;
  padding-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  overflow: scroll;
  height: min-content;



}


.everyThing{
  padding-top: 6rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media(max-width: 800px) {
  .everyThing {
    padding-top: 6rem;
  }
  .bubbles {
   padding-top: 6rem;
  }
}
