
<!--<div class="h-50 d-flex align-items-center justify-content-center">-->
<!--  <div class="spinner-border text-primary" role="status" >&ndash;&gt;-->


<!--<div class="bubbles">-->
<!--  <span style="&#45;&#45;i:10;"></span>-->
<!--  <span style="&#45;&#45;i:4;"></span>-->
<!--  <span style="&#45;&#45;i:15;"></span>-->
<!--  <span style="&#45;&#45;i:8;"></span>-->
<!--  <span style="&#45;&#45;i:20;"></span>-->
<!--  <span style="&#45;&#45;i:5;"></span>-->
<!--  <span style="&#45;&#45;i:18;"></span>-->
<!--  <span style="&#45;&#45;i:6;"></span>-->
<!--  <span style="&#45;&#45;i:19;"></span>-->
<!--  <span style="&#45;&#45;i:10;"></span>-->
<!--  <span style="&#45;&#45;i:11;"></span>-->
<!--  <span style="&#45;&#45;i:17;"></span>-->
<!--  <span style="&#45;&#45;i:18;"></span>-->
<!--  <span style="&#45;&#45;i:14;"></span>-->
<!--  <span style="&#45;&#45;i:20;"></span>-->
<!--  <span style="&#45;&#45;i:16;"></span>-->
<!--  <span style="&#45;&#45;i:14;"></span>-->
<!--  <span style="&#45;&#45;i:6;"></span>-->
<!--  <span style="&#45;&#45;i:4;"></span>-->
<!--  <span style="&#45;&#45;i:15;"></span>-->
<!--  <span style="&#45;&#45;i:19;"></span>-->
<!--  <span style="&#45;&#45;i:1;"></span>-->
<!--  <span style="&#45;&#45;i:4;"></span>-->
<!--  <span style="&#45;&#45;i:2;"></span>-->
<!--  <span style="&#45;&#45;i:24;"></span>-->
<!--  <span style="&#45;&#45;i:17;"></span>-->
<!--  <span style="&#45;&#45;i:8;"></span>-->
<!--  <span style="&#45;&#45;i:19;"></span>-->
<!--  <span style="&#45;&#45;i:9;"></span>-->
<!--  <span style="&#45;&#45;i:10;"></span>-->
<!--  <span style="&#45;&#45;i:17;"></span>-->
<!--  <span style="&#45;&#45;i:4;"></span>-->
<!--  <span style="&#45;&#45;i:14;"></span>-->
<!--  <span style="&#45;&#45;i:20;"></span>-->
<!--  <span style="&#45;&#45;i:5;"></span>-->
<!--  <span style="&#45;&#45;i:14;"></span>-->
<!--  <span style="&#45;&#45;i:6;"></span>-->
<!--  <span style="&#45;&#45;i:19;"></span>-->
<!--  <span style="&#45;&#45;i:11;"></span>-->
<!--  <span style="&#45;&#45;i:19;"></span>-->
<!--  <span style="&#45;&#45;i:1;"></span>-->
<!--  <span style="&#45;&#45;i:4;"></span>-->
<!--  <span style="&#45;&#45;i:2;"></span>-->
<!--  <span style="&#45;&#45;i:24;"></span>-->
<!--  <span style="&#45;&#45;i:14;"></span>-->
<!--  <span style="&#45;&#45;i:8;"></span>-->
<!--  <span style="&#45;&#45;i:19;"></span>-->
<!--  <span style="&#45;&#45;i:9;"></span>-->
<!--  <span style="&#45;&#45;i:11;"></span>-->
<!--  <span style="&#45;&#45;i:17;"></span>-->
<!--  <span style="&#45;&#45;i:8;"></span>-->
<!--  <span style="&#45;&#45;i:14;"></span>-->
<!--  <span style="&#45;&#45;i:20;"></span>-->
<!--  <span style="&#45;&#45;i:11;"></span>-->
<!--  <span style="&#45;&#45;i:14;"></span>-->
<!--  <span style="&#45;&#45;i:6;"></span>-->
<!--  <span style="&#45;&#45;i:19;"></span>-->
<!--  <span style="&#45;&#45;i:10;"></span>-->
<!--  <span style="&#45;&#45;i:4;"></span>-->
<!--  <span style="&#45;&#45;i:15;"></span>-->
<!--  <span style="&#45;&#45;i:8;"></span>-->
<!--  <span style="&#45;&#45;i:20;"></span>-->
<!--  <span style="&#45;&#45;i:5;"></span>-->
<!--  <span style="&#45;&#45;i:18;"></span>-->
<!--  <span style="&#45;&#45;i:6;"></span>-->
<!--  <span style="&#45;&#45;i:19;"></span>-->
<!--  <span style="&#45;&#45;i:10;"></span>-->
<!--  <span style="&#45;&#45;i:11;"></span>-->
<!--  <span style="&#45;&#45;i:17;"></span>-->
<!--  <span style="&#45;&#45;i:18;"></span>-->
<!--  <span style="&#45;&#45;i:14;"></span>-->
<!--  <span style="&#45;&#45;i:20;"></span>-->
<!--  <span style="&#45;&#45;i:16;"></span>-->
<!--  <span style="&#45;&#45;i:14;"></span>-->
<!--  <span style="&#45;&#45;i:6;"></span>-->
<!--  <span style="&#45;&#45;i:4;"></span>-->
<!--  <span style="&#45;&#45;i:15;"></span>-->
<!--  <span style="&#45;&#45;i:10;"></span>-->
<!--  <span style="&#45;&#45;i:4;"></span>-->
<!--  <span style="&#45;&#45;i:15;"></span>-->
<!--  <span style="&#45;&#45;i:8;"></span>-->
<!--  <span style="&#45;&#45;i:20;"></span>-->
<!--  <span style="&#45;&#45;i:5;"></span>-->
<!--  <span style="&#45;&#45;i:18;"></span>-->
<!--  <span style="&#45;&#45;i:6;"></span>-->
<!--  <span style="&#45;&#45;i:19;"></span>-->
<!--  <span style="&#45;&#45;i:10;"></span>-->
<!--  <span style="&#45;&#45;i:11;"></span>-->
<!--  <span style="&#45;&#45;i:17;"></span>-->
<!--  <span style="&#45;&#45;i:18;"></span>-->
<!--  <span style="&#45;&#45;i:14;"></span>-->
<!--</div>-->

<div class="background">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
</div>

<div class="everyThing">
  <div class="content">
    <h1><a class="text">Prihlásenie</a></h1>

  <div class="h-100 d-flex align-items-center justify-content-center">
  <form name="form" (ngSubmit)="login(); refresh()" #loginForm="ngForm">
    <div id="aa" >
    <mat-form-field appearance="fill">
      <mat-label>Používateľské meno</mat-label>
      <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required  matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Heslo</mat-label>
      <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required matInput/>
    </mat-form-field>
    <div>
      <button [disabled]="!loginForm.form.valid" class="btn-done">Prihlásiť</button>
    </div>
<!--      <br>-->
<!--    <div>-->
<!--      <a [routerLink]="['/registration']">Ak nemáte vytvorené konto, kliknite sem</a>-->
<!--    </div>-->
    </div>
  </form>
  </div>
    </div>
</div>

