<div class="everyThing">
  <div class="content">
    <h1><a class="text">Prihlásenie</a></h1>

  <div class="h-100 d-flex align-items-center justify-content-center">
  <form name="form" (ngSubmit)="login(); refresh()" #loginForm="ngForm">
    <div id="aa" >
    <mat-form-field appearance="fill">
      <mat-label>Používateľské meno</mat-label>
      <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required  matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Heslo</mat-label>
      <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required matInput/>
    </mat-form-field>
    <div>
      <button [disabled]="!loginForm.form.valid" class="btn-done">Prihlásiť</button>
    </div>
<!--      <br>-->
<!--    <div>-->
<!--      <a [routerLink]="['/registration']">Ak nemáte vytvorené konto, kliknite sem</a>-->
<!--    </div>-->
    </div>
  </form>
  </div>
    </div>
</div>

