<!-- <div class="maincantainer">
  <div class="container" >
    <div class="container-inside"  >
     <a class="text">VERIFIKOVALI STE SVOJ ÚČET</a>
      <br>
      <a class="text-little">Budete presmerovaný na prihlásenie</a>
    </div>
  </div>
</div> -->

<div _ngcontent-gyc-c50="" class="login-root">
  <div
    _ngcontent-gyc-c50=""
    class="box-root flex-flex flex-direction--column"
    style="flex-grow: 1"
  >
    <div
      _ngcontent-gyc-c50=""
      class="loginbackground box-background--white padding-top--64"
    >
      <div _ngcontent-gyc-c50="" class="loginbackground-gridContainer">
        <div
          _ngcontent-gyc-c50=""
          class="box-root flex-flex"
          style="grid-area: top / start / 8 / end"
        >
          <div
            _ngcontent-gyc-c50=""
            class="box-root"
            style="
              background-image: linear-gradient(
                white 0%,
                /* rgb(247, 250, 252) 33% */
              );
              flex-grow: 1;
            "
          ></div>
        </div>
        <div
          _ngcontent-gyc-c50=""
          class="box-root flex-flex"
          style="grid-area: 4 / 1 / auto / 5"
        >
          <div
            _ngcontent-gyc-c50=""
            class="box-root box-divider--light-all-2 animationLeftRight tans3s"
            style="flex-grow: 1"
          ></div>
        </div>
        <div
          _ngcontent-gyc-c50=""
          class="box-root flex-flex"
          style="grid-area: 7 / end / auto / 16"
        >
          <div
            _ngcontent-gyc-c50=""
            class="box-root box-background--blue800"
            style="flex-grow: 1"
          ></div>
        </div>
        <div
          _ngcontent-gyc-c50=""
          class="box-root flex-flex"
          style="grid-area: 6 / end / auto / 9"
        >
          <div
            _ngcontent-gyc-c50=""
            class="box-root box-background--blue8002"
            style="flex-grow: 1"
          ></div>
        </div>
        <div
          _ngcontent-gyc-c50=""
          class="box-root flex-flex"
          style="grid-area: 7 / 7 / auto / 3"
        >
          <div
            _ngcontent-gyc-c50=""
            class="box-root box-background--gray100"
            style="flex-grow: 1"
          ></div>
        </div>
        <div
          _ngcontent-gyc-c50=""
          class="box-root flex-flex"
          style="grid-area: 4 / 5 / auto / start"
        >
          <div
            _ngcontent-gyc-c50=""
            class="box-root box-background--blue2 animationRightLeft"
            style="flex-grow: 1"
          ></div>
        </div>
        <div
          _ngcontent-gyc-c50=""
          class="box-root flex-flex"
          style="grid-area: 3 / 15 / auto / start"
        >
          <div
            _ngcontent-gyc-c50=""
            class="box-root box-background--blue animationRightLeft"
            style="flex-grow: 1"
          ></div>
        </div>
        <div
          _ngcontent-gyc-c50=""
          class="box-root flex-flex"
          style="grid-area: 4 / 18 / auto / -6"
        >
          <div
            _ngcontent-gyc-c50=""
            class="box-root box-background--gray100 animationRightLeft tans4s"
            style="flex-grow: 1"
          ></div>
        </div>
        <div
          _ngcontent-gyc-c50=""
          class="box-root flex-flex"
          style="grid-area: 5 / 15 / auto / 5"
        >
          <div
            _ngcontent-gyc-c50=""
            class="box-root box-divider--light-all-2 animationRightLeft tans3s"
            style="flex-grow: 1"
          ></div>
        </div>
      </div>
    </div>
    <div
      _ngcontent-gyc-c50=""
      class="box-root padding-top--24 flex-flex flex-direction--column position-absolute"
      style="flex-grow: 1; z-index: 9; width: 100%">
      <div
        _ngcontent-gyc-c50=""
        class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center"
      ></div>
      <div _ngcontent-gyc-c50="" class="formbg-outer" style="padding: 0 15px">
        <div
          _ngcontent-gyc-c50=""
          class="formbg"
          style="box-shadow: 4px 4px 10px #646464; border-radius: 8px"
        >
          <div
            _ngcontent-gyc-c50=""
            class="formbg-inner padding-horizontal--48"
          >
            <span _ngcontent-gyc-c50="" class="padding-bottom--15 text-center"
              >VERIFIKOVALI STE SVOJ ÚČET</span
            >
            <p class="text-center">Budete presmerovaný na prihlásenie</p>
          </div>
          <div class="svg d-flex justify-content-center">
            <svg width="128px" height="128px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#00e11d"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7071 6.29289C20.0976 6.68342 20.0976 7.31658 19.7071 7.70711L10.4142 17C9.63316 17.7811 8.36683 17.781 7.58579 17L3.29289 12.7071C2.90237 12.3166 2.90237 11.6834 3.29289 11.2929C3.68342 10.9024 4.31658 10.9024 4.70711 11.2929L9 15.5858L18.2929 6.29289C18.6834 5.90237 19.3166 5.90237 19.7071 6.29289Z" fill="#00e11d"></path> </g></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
