.maincantainer{
  padding-top: 6rem;
  background-color: #000000;
  background: linear-gradient(210deg, #222222 20%, #0dcaf0 50%, #222222 80%);
}

.container{
  height: calc(100vh - 6rem);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background: black;*/

}

input[type="text"]{
  background: white;
  color: black;
}



.container-inside{
  background: #222222;
  padding: 5%;
  box-shadow: 0 0 10px 0 #0dcaf0 inset, 0 0 20px 2px #0dcaf0;
  border: 5px solid #0dcaf0;
  border-radius: 10px;
  line-height: 3;
  overflow: scroll;
  text-align: center;
}

.container-inside::-webkit-scrollbar {
  display: none;
}

.container-inside {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.text{
  color: #0dcaf0;
  text-decoration-line: none;
  font-size: 5em;
}
.text-little{
  color: #0dcaf0;
  font-size: 4em;
  text-decoration-line: none;
}

@media(max-width: 1200px) {
  .text{
    font-size: 4em;
  }
  .text-little{
    font-size: 3em;
  }
}

@media(max-width: 1000px) {
  .text{
    font-size: 3em;
  }
  .text-little{
    font-size: 2em;
  }
}

@media(max-width: 800px) {
  .text{
    font-size: 2em;
  }
  .text-little{
    font-size: 1.5em;
  }
}

@media(max-width: 470px) {
  .text{
    font-size: 1.5em;
  }
  .text-little{
    font-size: 1em;
  }
}

@media(max-width: 390px) {
  .text{
    font-size: 1.2em;
  }
  .text-little{
    font-size: 0.8em;
  }
}
