input {
  width: 60em;
}


body{
  position: absolute;
  top: 0%;
  width: 100%;
  background-image: url("../../assets/register.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  margin-top: 10%;
  color: white;
}
