.maincantainer{
  padding-top: 6rem;
  background: linear-gradient(210deg, #222222 20%, #0dcaf0 50%, #222222 80%);

}

.container{
  height: calc(100vh - 6rem);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background: black;*/

}

input[type="text"]{
  background: white;
  color: black;
}



.container-inside{
  background: #222222;
  padding: 5%;
  box-shadow: 0 0 10px 0 #000000 inset, 0 0 20px 2px #000000;
  border: 5px solid #0dcaf0;
  border-radius: 10px;
  line-height: 3;
  overflow: scroll;
  text-align: center;
}

.container-inside::-webkit-scrollbar {
  display: none;
}

.container-inside {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.btn{
  margin-top: 20px;
  background: #222222;
  border: 2px solid #0dcaf0;
  color: #0dcaf0;
}

.btn:hover{
  box-shadow: 0 0 10px 0 #0dcaf0 inset, 0 0 20px 2px #0dcaf0;
  color: black;
  background: #0dcaf0;
}


.containerAdmin{
  padding-top: 6rem;
  background: linear-gradient(90deg, #000000 0%, #1a1a5a  50%, #000000 100%);
  background: #222222;
}

.containerAdmin-inside{
  min-height: calc(100vh - 6rem);
  color: #0dcaf0;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

}

th{
  color: #0dcaf0;
}

td{
  color: #0dcaf0;

}

.table-striped>tbody>tr:nth-of-type(odd)>*{
  color: red;
}

.table-striped>tbody>tr:nth-of-type(even)>*{
  color: lightseagreen;
}

@media (max-width: 800px) {
  .containerAdmin{
    padding-top: 6rem;
  }

  .containerAdmin-inside{
    overflow-x: scroll;
  }
}

.t-input{
  padding-top: 15px;
}

