<!-- 

<div class="everyThing">
  <div id="container-inside">
    <div id="circle-small"></div>
    <div id="circle-medium"></div>
    <div id="circle-large"></div>
    <div id="circle-xlarge"></div>
    <div id="circle-xxlarge"></div>
    <div id="circle-xxxlarge"></div>
    <div id="circle-xxxxlarge"></div>
  </div>


  <div class="maincontainer">
  <div class="container">
  <form class="example-form"  #addProductForm="ngForm">
    <div class="form-group">
      <br>
      <label class="" > <div class="bold-text"><a class="text">Názov:</a></div></label>
        <input
              type="text" [(ngModel)]="allProducts.name"
               id="name"
               name="name"
               class="form-control"
               required #name="ngModel">

      <br>
      <label class="" > <div class="bold-text"><a class="text">Opis:</a></div></label>
        <textarea type="text" [(ngModel)]="allProducts.description"
               id="description"
               name="description"
               class="form-control"
               required #description="ngModel"></textarea>

      <br>
      <label class="" > <div class="bold-text"><a class="text">Cena:</a></div></label>
        <input type="text" [(ngModel)]="allProducts.price"
               id="price"
               name="price"
               class="form-control"
               required #price="ngModel">

      <br>
      <label class="" > <div class="bold-text"><a class="text">Lokácia:</a></div></label>
        <input type="text" [(ngModel)]="allProducts.localization"
               id="localization"
               name="name"
               class="form-control"
               required #localization="ngModel">
      <br>
      <mat-label class=""><a class="text">Vyber kategóriu:</a></mat-label>
      <div class="">
        <mat-form-field appearance="fill">
          <mat-select [(value)]="selectedCategory" [(ngModel)]="allProducts.kindOfCategory" name="category" id="category" (selectionChange)="chooseCategory()" required>
              <mat-option *ngFor="let category of categoryArray" [value]="category" >
              {{category.name}}
              </mat-option>

          </mat-select>
        </mat-form-field>
      </div>


      <div>
        <input type="file" multiple (change)="onImagesUpload({event: $event})">
        <div *ngIf="selectedFilesUrls.length > 0">
          <ul>
            <div *ngFor="let url of selectedFilesUrls; let i = index">
              <img [src]="sanitizer.bypassSecurityTrustUrl(url)" style="max-width: 200px; max-height: 200px;">
              <button type="button" (click)="removeSelectedFile(i)">Remove</button>
            </div>
          </ul>
        </div>
      </div>

      <label class="" > <div class="bold-text"> </div></label>
      <div class="">
        <button   (click)="uploadFiles()"
                 type="submit"
                 class="btn btn-info">Vytvoriť Inzerát
        </button>
        <br>
        <br>
      </div>


    </div>


  </form>
  </div>

      </div>
</div>



 -->

<div class="container">
  <div
    class="row g-0 text-center d-flex d-lg-flex d-xl-flex justify-content-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
  >
    <div
      class="col-11 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center"
    >
      <form
        #addProductForm="ngForm"
        class="text-center"
        style="
          width: 60%;
          padding: 25px;
          box-shadow: 2px 7px 18px;
          border-radius: 7px;
        "
      >
        <label
          class="form-label d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-start justify-content-start"
          style="font-weight: bold; font-size: 18px"
          >Názov:</label
        >
        <input
          [(ngModel)]="allProducts.name"
          name="name"
          class="form-control"
          type="text"
          style="
            box-shadow: 7px 6px 17px;
            border-radius: 7;
            margin-bottom: 22px;
          "
          required
        />
        <label
          class="form-label d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-start justify-content-start"
          style="font-weight: bold; font-size: 18px"
          >Opis:</label
        >
        <textarea
          [(ngModel)]="allProducts.description"
          id="description"
          name="description"
          class="form-control"
          type="text"
          style="
            box-shadow: 7px 6px 17px;
            border-radius: 7;
            margin-bottom: 22px;
          "
          required
        >
        </textarea>
        <label
          class="form-label d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-start justify-content-start"
          style="font-weight: bold; font-size: 18px"
          >Cena:</label
        >
        <input
          [(ngModel)]="allProducts.price"
          name="price"
          class="form-control"
          type="number"
          style="
            box-shadow: 7px 6px 17px;
            border-radius: 7;
            margin-bottom: 22px;
          "
          required
        />
        <label
          class="form-label d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-start justify-content-start"
          style="font-weight: bold; font-size: 18px"
          >Lokácia:</label
        >
        <input
          [(ngModel)]="allProducts.localization"
          name="name"
          class="form-control"
          type="text"
          style="
            box-shadow: 7px 6px 17px;
            border-radius: 7;
            margin-bottom: 22px;
          "
          required
        />

        <div class="row">
          <div class="col-12 col-md-6">

            <mat-select
              class="form-control"
              type="file"
              style="
                box-shadow: 7px 7px 17px;
                border-width: 0;
                margin-bottom: 22px;
              "
              required
              [(value)]="selectedCategory"
              [(ngModel)]="allProducts.kindOfCategory"
              name="category"
              (selectionChange)="chooseCategory()"

            >
              <mat-option *ngFor="let category of categoryArray" [value]="category">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </div>
          <div class="col-12 col-md-6">
            <label for="img" class="input-for-img">Vložiť fotografie</label>
            <input
            id="img"
              class="form-control"
              type="file"
              style="
                box-shadow: 7px 7px 17px;
                border-width: 0;
                margin-bottom: 43px;
                display: none;
              "
              required
              (change)="onImagesUpload({event: $event})"
              multiple
              accept="image/*"
              title = "Žiadne fotografie nie sú vložené"
            />
            <!-- <input type="file" name="uploadfile" id="img" style="display:none;"/>
            <label for="img">Click me to upload image</label> -->

          </div>
        </div>

            <div class="row" *ngIf="selectedFilesUrls.length > 0">
              <div class="col-12 col-md-4 col-xl-2 mb-3" *ngFor="let url of selectedFilesUrls; let i = index">
                <div class="d-flex flex-column align-items-center">
                  <img class="mb-2" [src]="sanitizer.bypassSecurityTrustUrl(url)" style="max-width: 200px; max-height: 200px;">
                  <button class="delete" type="button" (click)="removeSelectedFile(i)">Odstrániť</button>
                </div>
              </div>
            </div>

        <button
          (click)="uploadFiles()"
          class="btn btn-primary"
          type="submit"
          style="background: #0dcaf0; color: rgb(0, 0, 0); font-weight: bold"
        >
          Vytvoriť inzerát
        </button>
      </form>
    </div>
  </div>
</div>
