/* .container {
    margin-top: 2%; 
}
*/

img{
    float: center;
      width:  115px;
      height: 115px;
      object-fit: cover;
      border-radius: 7px;
      position: relative;
      overflow: hidden;
      display: block;
      border-radius: 3px;
  }

  .delete {
    background: transparent !important;
    border: 0 !important;
    color: black;
  }

  .delete:hover{
    color: red !important;
    text-decoration: underline !important;
  }

  .input-for-img{
    color: black; 
    height: 36px;
    width: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 17px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    box-shadow: inset -2px -2px 4px #f9f9f9, inset 2px 2px 4px #d1d9e6;
    border-radius: 8px;
    border-width: 0px;
    border: 0;
    max-width: 100%;
    width: 100%;
  }

  .input-for-img:hover{
    background-color: #f2f2f2;
    color: black;
    box-shadow: 7px 7px 17px rgba(0,172,193,1);
  } 


  

.login-root {
  padding: 0;
  margin: 0;
  color: #1a1f36;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

h1 {
  letter-spacing: -1px;
}
a {
  color: #5469d4;
  text-decoration: unset;
}
.login-root {
  background: #fff;
  display: flex;
  width: 100%;
  /* min-height: 100vh; */
  overflow: hidden;
}
.loginbackground {
  /* min-height: 692px; */
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
}
.flex-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.center-center {
  align-items: center;
  justify-content: center;
}
.box-root {
  box-sizing: border-box;
}
.flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}
.loginbackground-gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 1fr [left-gutter] (86.6px;)[16] [left-gutter] 1fr [end];
  grid-template-columns: [start] 1fr [left-gutter] repeat(16,86.6px) [left-gutter] 1fr [end];
  -ms-grid-rows: [top] 1fr [top-gutter] (64px;)[8] [bottom-gutter] 1fr [bottom];
  grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
  justify-content: center;
  margin: 0 -2%;
  transform: rotate(-12deg) skew(-12deg);
}
.box-divider--light-all-2 {
  box-shadow: inset 0 0 0 2px #e3e8ee;
}
.box-background--blue {
  background: rgb(71, 136, 221);
}
.box-background--blue2 {
  background: #2d5e9d;
}
.box-background--white {
  background-color: #ffffff;
}
.box-background--blue800 {
  background: #2d5e9d;
}
.box-background--blue8002 {
  background: rgb(71, 136, 221);
}
.box-background--gray100 {
  background-color: #e3e8ee;
}
.box-background--cyan200 {
  background-color: #7fd3ed;
}
.padding-top--64 {
  padding-top: 64px;
}
.padding-top--24 {
  padding-top: 24px;
}
.padding-top--48 {
  padding-top: 48px;
}
.padding-bottom--24 {
  padding-bottom: 24px;
}
.padding-horizontal--48 {
  padding: 48px;
}
.padding-bottom--15 {
  padding-bottom: 15px;
}


.flex-justifyContent--center {
  -ms-flex-pack: center;
  justify-content: center;
}

.formbg {
  margin: 0px auto;
  width: 100%;
  max-width: 800px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}
label {
  margin-bottom: 10px;
}
.grid--50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
  background-color: rgb(84, 105, 212);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
  rgb(84, 105, 212) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.form-control{
  margin-bottom: 5%;
}
img{
  max-height: fit-content;
  max-width: 100%;
  margin-bottom: 5%;
}
.btn-primary{
  width: 100%;
  background-color: rgb(84, 105, 212);
}
.actions{
  width: 20%;
}
.btn-success{
  margin-right: 5%;
}

/* form {
  box-shadow: inset -2px -2px 4px #f9f9f9, inset 2px 2px 4px #d1d9e6;
  border-radius: 8px;
  border-width: 0px;
  border: 0;
} */

input, textarea, mat-select {
  box-shadow: inset -2px -2px 4px #f9f9f9, inset 2px 2px 4px #d1d9e6;
  border-radius: 8px;
  border-width: 0px;
  border: 0;
  max-width: 100%;
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
}

textarea {
  height: 100px;
}

button {
  margin-top: 22px;
  border-radius: 8px;
  border-bottom-color: #00e1ff;
  background: #4b70e2;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #4b70e2 !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgb(71, 136, 221) !important;
}