.container {
    margin-top: 2%; 
}

img{
    float: center;
      width:  115px;
      height: 115px;
      object-fit: cover;
      border-radius: 7px;
      position: relative;
      overflow: hidden;
      display: block;
      border-radius: 3px;
  }

  .delete {
    background: transparent !important;
    border: 0 !important;
    color: black;
  }

  .delete:hover{
    color: red !important;
    text-decoration: underline !important;
  }

  .input-for-img{
    color: black; 
    height: 36px;
    width: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 17px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  .input-for-img:hover{
    background-color: #f2f2f2;
    color: black;
    box-shadow: 7px 7px 17px rgba(0,172,193,1);
  }