.container {
    margin-top: 5%; 
}

img{
    float: center;
      width:  115px;
      height: 115px;
      object-fit: cover;
      border-radius: 7px;
      position: relative;
      overflow: hidden;
      display: block;
      border-radius: 3px;
  }

  .delete {
    background: transparent !important;
    border: 0 !important;
    color: black;
  }

  .delete:hover{
    color: red !important;
    text-decoration: underline !important;
  }