<div class = "grid-container">
  <div class="grid-item">
    <button type = "button"  id = "b1" class = "small_btn" routerLink="/allproducts" ><br>Všetky Inzeráty<br><br><img src="../../assets/everything.png"  height ="170" width="170"/> </button>
  </div>
  <div class="grid-item">
    <button type = "button" id = "b2" class = "small_btn" (click)="goToGarden()"><br>Záhrada<br><br><img src="../../assets/gardening-tools.png"  height ="170" width="170"/></button>
  </div>
  <div class="grid-item">
    <button  type = "button" id = "b3" class = "small_btn" (click)="goToElectronics()"><br>Elektronika<br><br><img src="../../assets/gadgets.png"  height ="170" width="170"/></button>
  </div>
  <div class="grid-item">
    <button type = "button" id = "b4" class = "small_btn" (click)="goToVehicles()"><br>Vozidla<br><br><img src="../../assets/car.png"  height ="170" width="170"/></button>
  </div>
  <div class="grid-item b5">
    <button type = "button" id = "b5" class = "small_btn" (click)="goToSport()"><br>Šport<br><br><img src="../../assets/sports.png"  height ="170" width="170"/></button>
  </div>
  <div class="grid-item">
    <button type = "button" id = "b6" class = "small_btn" (click)="goToToys()"><br>Hračky<br><br><img src="../../assets/toys.png"  height ="170" width="170"/></button>
  </div>
  <div class="grid-item">
    <button type = "button" id = "b7" class = "small_btn" (click)="goToPets()"><br>Domáce zvieratá<br><br><img src="../../assets/pets.png"  height ="170" width="170"/></button>
  </div>
  <div class="grid-item b5">
    <button type = "button" id = "b8" class = "small_btn" (click)="goToHouse()"><br>Nehnuteľnosti<br><br><img src="../../assets/house.png"  height ="170" width="170"/></button>
  </div>
  <div class="grid-item b5">
    <button type = "button" id = "b9" class = "small_btn" (click)="goToClothes()"><br>Oblečenie<br><br><img src="../../assets/clothes.png"  height ="170" width="170"/></button>
  </div>
  <div class="grid-item">
    <button type = "button" id = "b10" class = "small_btn" (click)="goToFurniture()"><br>Nábytok<br><br><img src="../../assets/furnitures.png"  height ="170" width="170"/></button>
  </div>
  <div class="grid-item">
    <button type = "button" id = "b11" class = "small_btn" (click)="goToHomeElectronics()"><br>Spotrebiče<br><br><img src="../../assets/electronics.png"  height ="170" width="170"/></button>
  </div>
</div>

<!--<div>-->
<!--  <h1>Home</h1>-->
<!--  <p>{{bodyText}}</p>-->
<!--  <button (click)="openModal('custom-modal-1')">Open Modal 1</button>-->
<!--  <button (click)="openModal('custom-modal-2')">Open Modal 2</button>-->
<!--</div>-->

<!--<jw-modal id="custom-modal-1">-->
<!--  <h1>A Custom Modal Window!</h1>-->
<!--  <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>-->
<!--  <button (click)="closeModal('custom-modal-1');">Close</button>-->
<!--</jw-modal>-->

<!--<jw-modal id="custom-modal-2">-->
<!--  <h1 style="height:1000px">A Tall Custom Modal Window!</h1>-->
<!--  <button (click)="closeModal('custom-modal-2');">Close</button>-->
<!--</jw-modal>-->

