
<div class="containerAdmin" *ngIf="isAdmin()">
<div class="containerAdmin-inside">
    <div class="col-md-12">
      <br>
      <h1>Informácie o užívateľoch</h1>
      <br>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Meno uživateľa</th>
<!--          <th>Heslo</th>-->
          <th>Email</th>
          <th>Telefonné číslo</th>
          <th>Adresa</th>
          <th>Vymazať uživateľa</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td><div class="align">{{user.username}}</div></td>
<!--          <td>{{user.password}}</td>-->
          <td><div class="align">{{user.email}}</div></td>
          <td><div class="align">{{user.phone}}</div></td>
          <td><div class="align">{{user.address}}</div></td>
          <td>
            <button class="btn btn-danger" (click)="deleteUser(user)">Vymazať uživateľa</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div class="maincontainer" *ngIf="!isAdmin()">
<div class="container">
<div class="container-inside">
  <h1><a><fa-icon [icon]="faLinkedin"></fa-icon> Vaše údaje:</a></h1>
  <h1><a>Používateľské meno:</a> {{user.username}}</h1>
<!--  <h2>Heslo: {{user.password}}</h2>-->
  <h2><a>Email:</a> {{user.email}}</h2>
  <h2><a>Telefónne číslo:</a> {{user.phone}}</h2>
  <h2><a>Adresa:</a> {{user.address}}</h2>
  <button class="btn" (click)="openModal('custom-modal-1')">Upraviť účet</button>
</div>
</div>
</div>

<jw-modal id="custom-modal-1">

  <div class="jw-container">
    <h2>Upraviť profil</h2>
    <br>
    <form class="form-horizontal" [formGroup]="userForm" >
      <div class="form-group">
        <label class="" for="name">Uživateľské meno:</label>
        <div class="">
          <input class="form-control" [(ngModel)]="user.username" formControlName="name" id="name" />
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="" for="email">Email:</label>
        <div class="">
          <input class="form-control" type="email" [(ngModel)]="user.email" formControlName="email" id="email" required />
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="" for="phone">Telefonné čislo:</label>
        <div class="">
          <input class="form-control" type="tel" [(ngModel)]="user.phone" formControlName="phone" id="phone" required />
        </div>
      </div>
      <br>
      <div class="">
        <label class="control-label col-sm-2" for="address">Adresa:</label>
        <div class="">
          <input class="form-control" type="text" [(ngModel)]="user.address" formControlName="address" id="address" required />
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="" for="password">Nové heslo:</label>
        <div class="">
          <input class="form-control" type="text"  placeholder="Ak chcete nové heslo píšte sem" [(ngModel)]="user.password" formControlName="password" id="password" required />
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="">
          <button type="submit" (click)="editUser()"  class="btn btn-danger">Uložiť zmeny</button>
        </div>
      </div>
<br>
      <div *ngIf="check" >
        <strong>Super!</strong> Úspešne ste zmenili svoje údaje. Priláste sa prosím znova o 5 sekund.
      </div>
      <br>
      <div class="">
      <img src="../../assets/X.png" (click)="closeModal('custom-modal-1');" height="40">
      </div>
    </form>
  </div>


</jw-modal>

