.maincontainer
{
  padding-top: 6rem;
}

.container{
  height: calc(100vh - 6rem);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background: black;*/

}

input[type="text"]{
  background: white;
  color: black;
}

.container a{
  color:  #00d7c3;
}

.container-inside{
  background: linear-gradient(90deg, #000000 0%, #03036c 100%);
  padding: 5%;
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 5px solid #00d7c3;
  border-radius: 10px;
  line-height: 3;
  overflow: scroll;
  text-align: center;
}

.container-inside::-webkit-scrollbar {
  display: none;
}

.container-inside {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}




.containerAdmin{
  background: linear-gradient(90deg, #000000 0%, #1a1a5a  50%, #000000 100%);
  padding-top: 6rem;
 overflow: auto;
}

.containerAdmin-inside{
  min-height: calc(100vh - 6rem);
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  overflow-x: auto;
}

th{
  color: white;
}

td{
  color: white;

}

.table-striped>tbody>tr:nth-of-type(odd)>*{
  color: red;
}

.table-striped>tbody>tr:nth-of-type(even)>*{
  color: lightseagreen;
}

@media (max-width: 800px) {
  .containerAdmin{
    padding-top: 6rem;
  }
  .container{
  }

  .containerAdmin-inside{
    margin: 0;
    overflow-x: scroll;
  }
}

@media (max-width: 800px) {
@media(max-height: 550px){
  .containerAdmin{
    padding-top: 6rem;
  }
  .container-inside{
    height: 100%;
  }
  .container{
    height: 100%;
  }

  .containerAdmin-inside{
    overflow-x: scroll;
  }
}
}


.jw-container {
color: white;
  width: 800px;
  padding: 5%;
  text-align: center;
}

img {
 cursor: pointer;
}

@media (max-width: 950px) {
  .jw-container {
    width: 500px;
  }
}

 @media (max-width: 650px) {
  .jw-container {
    width: 300px;

  }
}


