<!--<div class="container" *ngIf="isAdmin()">-->
<!--  FUNKCNY ADMIN-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <h1>Informácie o užívateľovi</h1>-->
<!--      <table class="table table-striped">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Meno uživateľa</th>-->
<!--          <th>Heslo</th>-->
<!--&lt;!&ndash;          <th>Email</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th>Telefonné číslo</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th>Adresa</th>&ndash;&gt;-->
<!--          <th>Vymazať uživateľa</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let user of users">-->
<!--          <td>{{user.username}}</td>-->
<!--          <td>{{user.password}}</td>-->
<!--&lt;!&ndash;          <td>{{user.email}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td>{{user.phone}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td>{{user.address}}</td>&ndash;&gt;-->
<!--          <td>-->
<!--            <button class="btn btn-danger" (click)="deleteUser(user)">Vymazať uživateľa</button>-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="userInfo" *ngIf="!isAdmin()">-->
<div class="userInfo" >
<div class="title">Vaše údaje:</div>
  <br>
  <h1>Používateľské meno: {{user.username}}</h1>
  <h2>Heslo: {{user.password}}</h2>
  <h2>Email: {{user.email}}</h2>
  <h2>Telefónne číslo: {{user.phone}}</h2>
  <h2>Adresa: {{user.address}}</h2>
  <button class="btn btn-danger" (click)="openModal('custom-modal-1')">Upraviť účet</button>
</div>


<jw-modal id="custom-modal-1">

  <div class="container">
    <h2>Upraviť profil</h2>
    <form class="form-horizontal" [formGroup]="userForm" >
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Uživateľské meno:</label>
        <div class="col-sm-10">
          <input class="form-control" [(ngModel)]="user.username" formControlName="name" id="name" />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
          <input class="form-control" type="email" [(ngModel)]="user.email" formControlName="email" id="email" required />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="password">Heslo:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text"  [(ngModel)]="user.password" formControlName="password" id="password" required />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="password">Telefonné čislo:</label>
        <div class="col-sm-10">
          <input class="form-control" type="tel" [(ngModel)]="user.phone" formControlName="phone" id="phone" required />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="password">Adresa:</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" [(ngModel)]="user.address" formControlName="address" id="address" required />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" (click)="editUser()"  class="btn btn-danger">Uložiť zmeny</button>
        </div>
      </div>

      <div *ngIf="check" class="alert alert-success">
        <strong>Super!</strong> Úspešne ste zmenili svoje údaje. Priláste sa prosím znova o 5 sekund.
      </div>

    </form>
  </div>

  <img src="../../assets/return.png" (click)="closeModal('custom-modal-1');" height="40">
</jw-modal>
